[2013-05-28 16:48] hardevine opened #1 "Creating multiple instances of cart"
can we create a new instance of cart for a new wishilist or something like that
eg.

Cart::newCart('name_of_cart');

[2013-05-28 20:41] #1 closed, assigned to nobody

[2013-05-30 06:45] hardevine opened #2 "update item attribute instead of only qty"
instead of updating only quantity of item in cart we can make

[code]

do change attribute of item whose rowid we specify, it will make it more powerfull to update items attributes.
eg

[code]

[2013-05-30 07:02] hardevine opened #3 "Adding multiple items into cart"
Can we add multiple items into cart

[code]

[2013-05-30 15:14] #3 closed, assigned to nobody

[2013-05-30 15:16] #2 closed, assigned to nobody

[2013-05-31 05:11] hardevine opened #4 "Best way to find if particular product is in cart"
cart has these items

[code]

how can we find for an item using its attributes

[code]

i guess i should move 'type' key to level-up in array so i dont have to search it within options array, then it would be

[code]

[2013-05-31 08:49] #4 closed, assigned to nobody

[2013-05-31 13:00] hardevine opened #5 "search method expects exact order for correct md5 string"
while adding item to cart if i added like

[code]

then while searching i have to repeat same order cause

in Cart.php at line :234 serialize would create a different string and hence unmatched md5 string ,
i guess we have to modify that logic of `generateRowId()`..

may be create options array before feeding to serialize..

also we need to remember that we are searching with some handful of param

[2013-06-03 14:15] #5 closed, assigned to nobody

[2013-06-06 09:08] hardevine opened #6 "Using $this when not in object context"
when using it in env where php is
php 5.3.10 as l4 req atleast 5.3.7
it must be ok to run

but it shows this error in ShoppingcartServiceProvider.php at line 17
may be its expecting a more latest php version

[2013-06-06 09:38] #6 closed, assigned to nobody

[2013-06-10 13:24] Bulmer opened #7 "maintaining a cart instance for a current user"
This is a great package, thanks. I would have asked this on the L4 forum but couldn't find any mention of your package there..
It seems I can only maintain a logged-in users cart instance (by using their id) within a single script. What would be the best way to keep their cart instance current whenever they are logged-in? I have tried an event listener, but couldn't get it  to work. Any ideas?
Tha

[2013-06-12 06:55] #7 closed, assigned to nobody

[2013-06-14 15:30] nielsiano opened #8 "Methods return Null instead of Boolean"
Could we have add(), addBatch(), destroy() etc return a boolean which enables us to check for success? It seems to be returning Null every time now, or am I completely missing something?

[2013-07-01 07:06] hardevine opened #9 "[Feature] idea for adding cart-weight related methods etc."
Ideas for adding weight related features
- cart item 'weight' while adding item to cart
- Cart::weight() // total weight of cart
- update weight of cart item

weight attribute is important for physical items in cart for calculating shipping amount etc.

should we make it optional or make it default
as not all items need weight;
as in case of digital items (track downloads) etc.

[2013-07-04 20:24] #9 closed, assigned to nobody

[2013-07-05 01:52] tkaw220 opened #11 "[enhancement] Accept array in add() method"
Is it better if the add() method could accept array, e.g.,

[code]

Since addbatch() is accepting array, add() should also accept array for consistency. Thought?

[2013-07-08 20:50] #11 closed, assigned to nobody

[2013-07-27 02:10] whoisandy opened #13 "Extra options not being added"
Extra options other than quantity, price, id, name aren't being added to the session. Just returns a zero length array.

[2013-07-27 16:15] #13 closed, assigned to nobody

[2013-07-29 12:27] #8 closed, assigned to nobody

[2013-07-29 22:12] longestdrive opened #14 "using search"
Hi
With the search feature is it possible to search on more than one criteria in options,  if so how do it?

I have set types in the options and want to return all items of a specific type.

If I need to do multiple searches how can join the results back together?

[2013-07-29 22:14] dannychua opened #15 "Track abandoned cart"
Using LaravelShoppingcart, what is the recommended method to track abandoned carts? Are cart instances persisted on the database with a timestamp?

[2013-07-30 06:49] #15 closed, assigned to nobody

[2013-07-30 06:56] #14 closed, assigned to nobody

[2013-08-29 09:11] tkaw220 opened #16 "Cart::search() should return NULL on failure instead of boolean"
IMHO, this method should return NULL instead of FALSE if the specific item not found. Most L4 Eloquent methods return NULL.

[2013-10-24 12:47] renege opened #17 "Saving Cart input"
Where is it all saved?

[2013-10-25 04:20] ferry77 opened #18 "Cart relation to product table"
Hi,
From the id of the product in cart collection, is there any way I can do like:
foreach(Cart::content() as $item){
echo $item->product->image;
}
So I would like to link the id of the cart row to product table.

Many thanks for your help..

Regards,
Ferry

[2013-10-26 23:27] #18 closed, assigned to nobody

[2013-10-26 23:29] #17 closed, assigned to nobody

[2013-10-26 23:30] #16 closed, assigned to nobody

[2013-11-06 13:16] JonoB opened #19 "Events"
It would be really awesome if the cart fired off some custom events upon certain actions. Things like:

[code]

[2013-11-11 10:55] xtrasmal opened #20 "Cart options"
Hi there,

Is it possible to add prices as options?
For example:

Pizza $10.00 (default)
options:
extra cheese $1.00,
## extra spicy $1.50

and then add this as a single product to the basket, so with a total product price of
12.50

[2013-12-09 11:43] nielsiano opened #21 "Incompatible with Laravel 4.1"
Needs upgrade for Laravel 4.1

`Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.
  Problem 1
    - gloudemans/shoppingcart dev-master requires illuminate/support 4.0.x -> satisfiable by laravel/framework[4.0.x-dev,
v4.0.0, v4.0.0-BETA2, v4.0.0-BETA3, v4.0.0-BETA4, v4.0.1, v4.0.10, v4.0.2, v4.0.3,
 v4.0.4, v4.0.5, v4.0.6, v4.0.

[2013-12-12 18:32] #21 closed, assigned to nobody

[2013-12-27 10:41] fabbrikk opened #24 "Now incompatible with Laravel 4.0.*"
After the last update the package is incompatible with Laravel 4.0.*

[2013-12-30 08:30] #24 closed, assigned to nobody

[2013-12-30 21:09] #19 closed, assigned to nobody

[2013-12-30 21:10] #20 closed, assigned to nobody

[2014-01-20 13:02] cjuhong opened #25 "payment"
Hi,

Is there any payment in the Shoppingcart?

Thanks,
Jeremy

[2014-01-20 16:01] #25 closed, assigned to nobody

[2014-02-08 10:39] anuj-official opened #26 "Data no persisting in session"
After i add product in the cart and var_dump the content of the cart everything works fine but after refreshing the page when i var_dump the it shows empty cart..

[2014-02-08 11:33] #26 closed, assigned to nobody

[2014-02-24 14:22] JohnDotOwl opened #28 "Issue with Var_Dump returning 1 Collection item , expecting multiple."
The Cart::add is only adding one item. I tried adding multiple different items but it wont work. It will show only one item when i do a vardump on the cart->content

[2014-02-24 14:30] #28 closed, assigned to nobody

[2014-02-24 14:58] JohnDotOwl opened #29 "Multiple Options in Array not Working."
Can I have a example of multiple options? I tried 2 methods, it's not working.

[2014-02-25 08:47] #29 closed, assigned to nobody

[2014-03-05 19:45] jackmcdade opened #31 "Search doesn't work"
I have a product in my cart with an ID of `10`, for example, and the following returns `false`:

[code]

[2014-03-06 22:03] #31 closed, assigned to nobody

[2014-03-06 22:15] jackmcdade opened #32 "Store cart in database separate from session"
Is there any way to store a user's cart in the database separately from the session? I'd like to leave my session lifetime relatively short so they don't stay logged in, but would love their cart to persist indefinitely.

[2014-03-07 07:08] #32 closed, assigned to nobody

[2014-03-14 08:23] mdeprezzo opened #34 "Problem with multiple instance of Cart"
Hi guys,
i've a problem i these last few days. I dont know why. But when i try to use multiple instance of cart the last new goes to overwritten by first instance and i dont understand why this happened. Maybe i just add the new package with new methods ?

[2014-03-15 15:36] #34 closed, assigned to nobody

[2014-04-02 21:38] lstables opened #36 "Gloudemans \ Shoppingcart \ Exceptions \ ShoppingcartInvalidRowIDException"
I'm getting the above message when trying to remove an item from my cart.

< a href="/cart/remove/{{ $cart_item->rowid }}">Remove</a>

Which is wrapped in a foreach that comes from:

$carts = Cart::content();

And i'm adding content like so:

$cartContents = Cart::add(array('id' => randomNumber(), 'name' => $input['product_name'], 'qty' => 1, 'price' => $price));

But when I do Cart::remove($cart_

[2014-05-05 09:02] longestdrive opened #40 "Cart contents disappearing"
Hi
I've been using this package for a while now but have a problem.

I add items to my cart, I can see the items there if I dump the cart and do a couple of tests. However If I then try to retrieve the cart contents from another function the cart is empty.

Products are added to the cart from an ajax call.

[code]

This works

Once added another jquery ajax call from the page gets the cart content

[2014-05-20 06:50] #40 closed, assigned to nobody

[2014-06-01 23:45] bajramemini opened #41 "ErrorException after Laravel update to 4.2"
Hello,
After updating to Laravel 4.2 I got this error:

exception 'ErrorException' with message 'Declaration of Gloudemans\Shoppingcart\CartRowCollection::search() should be compatible with Illuminate\Support\Collection::search($value, $strict = false)'

[2014-06-02 12:04] #41 closed, assigned to nobody

[2014-06-14 06:51] mbouclas opened #42 "use cart without Facade"
I'm trying to use the cart class without making use of the facade. What i've done so far is the following :
A class like so :

[code]

And then in the controller

[code]

but this gives the following error

[code]

Any ideas? using L4.2

[2014-06-14 17:41] #42 closed, assigned to nobody

[2014-06-15 08:16] mbouclas opened #43 "Discounts - taxes"
What is the recomended method to apply discounts or taxes to the cart? Could be per product (discount/tax) or to the entire cart (coupon maybe) or even adding extra charges (like shipping costs)

[2014-06-15 08:52] #43 closed, assigned to nobody

[2014-06-23 14:07] arthurshlain opened #44 "$options values that affect the price"
I needed to add to the product additive with different price. I used the optional array of options (id, name, price for additive). How do I correct this when calculating the total amount?

[2014-06-23 14:18] #44 closed, assigned to nobody

[2014-06-25 12:16] billmn opened #45 "Fire events after operation execution"
What about fire events when operations was executed?

I propose:

<pre>
cart.added
cart.batched
cart.updated
cart.removed
cart.destroyed
</pre>

For example I can listen on "cart.added", retrieve the new cart row and save this information in a database record.

[2014-06-27 10:40] janisgitendorfs opened #47 "Output order"
Current order is (A,B,C,D and so on) but there is no method to output cart items in order (D,C,B,A) without making a huge mess into code.
For instance - If i want to show only last 3 items into cart there is no option for that.

[2014-06-27 10:44] #47 closed, assigned to nobody

[2014-07-15 13:40] sgaggerj opened #48 "Only able to add 3 items to cart"
Unable to add more than three items to the cart, using Laravel 4.2.6

I just tested Store() changing it to:

[code]

I destroyed the cart first then added different products 1 at a time
1st product addition produced
Previous count: 0 Post count: 1
and checked the cart, there was now 1 item in the cart
2nd product addition produced
Previous count: 1 Post count: 2
and checked the cart, there was now

[2014-07-18 23:49] amilajack opened #49 "Cart::associate"
I'm having an issue with storing the cart items to the DB. I data dumped the cart and the object is set but when I check the DB the item is not inserted. Here is a snippet of my code:

[code]

 and here is my my DB migration

[code]

![screen shot 2014-07-18 at 4 48 28 pm](https://cloud.githubusercontent.com/assets/6374832/3633101/16f9b20e-0ed6-11e4-90b0-9f864f980bee.png)

[2014-07-19 08:55] #49 closed, assigned to nobody

[2014-07-20 02:18] amilajack opened #50 "Cart::associate"
I'm having an issue with the Cart::associate method. With this code, I'm trying to add items to the DB. I'm not getting any errors and it doesnt store anything to the db

$item = array(
            'id' => 1,
            'qty' => 1,
            'name' => 'htc',
            'price' => 50
        );

[code]

![screen shot 2014-07-18 at 10 51 09 pm](https://cloud.githubusercontent.com/assets/6374832/

[2014-07-20 07:50] #50 closed, assigned to nobody

[2014-07-29 20:35] #48 closed, assigned to nobody

[2014-08-02 11:22] whcmark opened #51 "can i count weight?"
Cart::add(array('id' => '293ad', 'name' => 'Product 1', 'qty' => 1, 'price' => 9.99, 'options' => array('weight' => 22)));

i dont wanna using foreach to do it
any good method for count the weight in options array
i have to create method myself?

[2014-08-04 04:07] devmark opened #52 "how to save cart link, reopen later"
ref: https://github.com/moltin/laravel-cart
[code]

in case, when using Cart::content();
we can also get a session id .

1. so can i just use that session id to save cart link ?
like: /cart/871f0bc18ca76e68bf7c3adf8f9426ef

2. is it safely to do it?
3. can make a method to get the session id?

4. how can save a array or value in that cart?

thanks

[2014-08-07 14:28] kferran opened #53 "Shipping"
How could I go about adding a shipping row to the cart? My situation is that I dont know shipping costs until the user enters in details and I calculate the weight of the shipment.

Thoughts?

[2014-08-21 10:40] prajwolonta opened #54 "Using cart instance in Cart::search"
Hi Crinsane.

Thank you for the shopping cart.
i have a question :
 <?php $wishlists = Cart::instance('wishlist')->search(array('id' => $product->id)); ?>

Should this work or not ? is it possible to use cart instance with search? I am getting nothing with it. Please let me know if it works or any work around for this.

Thanks again,
Prajwol.

[2014-08-22 08:20] #54 closed, assigned to nobody

[2014-08-22 08:36] #51 closed, assigned to nobody

[2014-08-22 08:36] #53 closed, assigned to nobody

[2014-08-22 08:41] #45 closed, assigned to nobody

[2014-08-22 09:18] prajwolonta opened #55 "cart only works after "main" is instantiated."
Hi ..
I have this code :
Cart::instance($instance)->associate('Product')->add(array('id' => $id, 'name' => $name, 'qty' => $qty, 'price' => $price));

if the instance is 'wishlist' the very first time it does not work.. the wishlist instance is not save. But if the instance is "main" first time and second time its "wishlist" then only the wishlist is instantiated.

How can i fix this?

[2014-08-24 13:12] #55 closed, assigned to nobody

[2014-08-26 17:45] ghost opened #56 "Destroy method doesn't return boolean!"
Hi guys

// lets delete  user cart
\Cart::destroy(); // return null,

But phpdoc says boolean..
[code]

[2014-09-02 18:57] mdeprezzo opened #57 "Associate Model passing namespace doesn't works"
Hi guys,
i'm trying to associate a model with the entire namespace but it seems not work

[2014-09-26 09:21] gwilymgj opened #59 "Viewing all current carts"
Is there an easy way to see all current carts? For spying on shoppers? :-)

[2014-09-29 06:59] #59 closed, assigned to nobody

[2014-11-04 20:33] longestdrive opened #60 "Get rowid of last added item"
Hi
I'm trying to get the rowid of the last inserted item but not having much luck. I've tried checking the return value of Cart::add() but this returns a null value.

I need to use the rowid in an associated cart instance - a bit like a one to many relationship but can't see a method or way of obtaining.

I thought Cart::add() would return a row collection?

Is this intended behaviour to return nu

[2014-11-08 02:07] ghost opened #61 "Remove returns update which returns null/void."
Remove method returns null. Quick fix should be the following:

[code]

Same deal with destroy method, but instead you can do the following:

[code]

[2014-12-03 21:31] #57 closed, assigned to nobody

[2014-12-03 21:31] #61 closed, assigned to nobody

[2014-12-06 03:32] afflicto opened #62 "Cart::addRow bug"
There is a bug, it seems, where Cart::addRow throws an exception if the 'id' argument is an integer.
Casting the int to a string solves the issue.

Running PHP 5.4.12 on Win 7, using WAMP.

[2014-12-06 16:26] kapil-gupta opened #63 "How to use it using ajax ?"
Please Help
How to use it using ajax ,is there any documentation ?

[2014-12-19 23:02] longestdrive opened #64 "Remove item throws collection exception array_key_exists"
I've got a problem with trying to remove an item.row from my cart.

I search for the item using the search method, obtain the id of the item to remove - I then use the remove method which throws an exception:

[code]

My code is:

[code]

I've checked the rowid is correct and corresponds with the one in the session so am now stumped on how to remove the item correctly

[2014-12-20 15:07] #64 closed, assigned to nobody

[2014-12-30 08:14] edwinricaurte opened #65 "Sessions"
Hello, I'm not sure if is an issue or not, but I'm using ollieread/multiauth, and if I add some products to the Cart, I logout and sign in with other user, the cart show the same cart from the other account.

Any idea?
Thanks
Edwin Ricaurte

[2015-01-15 22:02] hexencoded commented on #36
Try this:
Cart::destroy();

Then:
Cart::add(array('id' => randomNumber(), 'name' => $input['product_name'], 'qty' => 1, 'price' => $price, 'delivery' => $input['delivery']));

Finally:
Cart::remove($id);

[2015-01-15 22:03] Crinsane commented on #36
@hexencoded Where dit the `$id` variable come from?

[2015-01-16 00:10] hexencoded commented on #36
In my case:
Cart controller - http://pastebin.com/MRZY9sqM

id getting from HTML:
<td><a href="#" data-loading-text="Удаление..." data-id="{{{ $row->id }}}" class="cart-remove"><i class="fa fa-trash"></i> Удалить</a></td>

Javascript:
$('.cart-remove').on('click', function () {
        var btn = $(this);
        btn.button('loading');

        var id = $(this).data('id');

        $.ajax({

[2015-01-16 07:04] Crinsane commented on #36
@hexencoded

Okay, I see your problem. What you're misunderstanding is the fact that `$row->id` is not the same as `$row->rowId`.

The `id` is just the ID you set yourself when you added the item to the cart. Usually the primary key of the item. The `rowId` is a unique ID, generated by the cart when you add an item. It's used to identify unique items in the cart. You can have multiple rows in the

[2015-01-16 10:46] hexencoded commented on #36
Thanks! Now this work perfectly.

[2015-01-19 14:11] #65 closed

[2015-01-19 14:12] Crinsane commented on #63
It work's the same, you just have to use AJAX calls to get your cart content from the session.

[2015-01-19 14:12] #36 closed

[2015-01-19 17:06] viirre opened #66 "Missing typehints makes DI impossible"
The constructor of the Cart class doesn't typehint the Event and Session dependencies.

Because of this, a developer can't typehint this class in a constructor to get an instance nor can he use App::make(). Eg. the code:

[code]
will result in a exception like: `Unresolvable dependency resolving [Parameter #0 [ <required> $session ]] in class Gloudemans\Shoppingcart\Cart`

To solve this, it should

[2015-01-19 18:48] Crinsane commented on #66
Thanks for the request. I know of this, but i'm unsure if I'll change it on this version, or only update the newer version. I'll look into it. :-)

For now you could use App::make('cart'); to get it out of the IoC container.

[2015-01-19 18:58] viirre commented on #66
Ah cool, didn't think of that. Is there any particular reason for the
absence of type hints (just curious!)?
Den 19 jan 2015 19:48 skrev "Rob Gloudemans" <notifications@github.com>:

[2015-01-19 19:02] Crinsane commented on #66
To be honest, I think it was because at first, I only used the Session and didn't want to couple to much with Laravel, but didn't know what typehint instead, which interface or something. ;-)
That's the only reason I can think of. :-p

[2015-01-30 15:06] stechnique opened #67 "Model find"
Hi, I have an issue with the model association feature. My models are not eloquent models, and it is harder for me to implement a local ->find($id) on them, but they do (like Eloquent) implement the static::find($id) method and return a new instance if found. Is there a reason you are using this form now?

    $model = new $modelInstance;
    return $model->find($this->id);

Seems to me using the

[2015-01-30 15:17] stechnique commented on #67
I would personally also prefer to see :

    if($arg == camel_case($this->associatedModel))

instead of :

    if($arg == strtolower($this->associatedModel))

Which is more in line with how Laravel handles model case in general, and makes pretty calls for multi-word class names (also my case).

[2015-02-11 12:27] fogine opened #68 "Store associated model in session"
Would it be possible to change "associate model" logic so model would be instantiated just within first call and stored as object property?

The problem is that in current version I can not change internal state of the associated object...

Something in this direction:

    if($arg == strtolower($this->associatedModel))
    {
            if(!isset($this->model)) {
                $modelInstance =

[2015-02-11 12:52] Crinsane commented on #68
The reason those are not stored in the session is the fact that it would mean the entire Model should be serialized and saved in the session. If someone would, for instance use the cookie sessions, this could give all kinds of errors.

I'm thinking about another way to handle this, but haven't found a clean way yet.

[2015-02-11 15:04] fogine commented on #68
That's why I suggested the another option to choose if model will be stored in session or not...
But I understand that it's not "clean" way.

Could I ask what way you're thinking about in order to solve the issue?

[2015-02-12 20:46] martinlindhe opened #69 "Taxes"
First, thanks for a great lib!

It would be useful to have a tax field that could hold the tax rate %, and some helpers to show price with or without tax, also total price with/without tax.

I'm in need of this feature and are thinking if i could extend this cart, or if it would be possible to improve on the lib to add this functionality. What do you think?

[2015-02-16 15:14] rahul7777yadav opened #70 "Using this Cart::add"
When we use Cart::add(array('id' => '293ad', 'name' => 'Product 1', 'qty' => 1, 'price' => 9.99, 'options' => array('size' => 'large')));
This type of error were found :
 production.ERROR: exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Using $this when not in object context' in /opt/lampp/htdocs/laravel/vendor/gloudemans/shoppingcart/src/Gloudemans/Shoppingcart/Car

[2015-02-16 16:44] Crinsane commented on #70
Are you sure you're using the `Cart` Facade, and not calling the method statically on the `Cart` class?

[2015-02-16 16:47] Crinsane commented on #69
I've been thinking about this.
I'm thinking about adding 'tax' and 'weight' (for shipping) in version 2, but still not sure how to implement it. It just feels wrong to me to keep adding extra parameters.

I'll keep this open for now.

[2015-02-16 19:53] martinlindhe commented on #69
While I solved my need for now, I'm still interested in this feature. And weight would also be very nice to have.

Some other laravel-related lib have this notion of extending models with traits and extra properties, like EloquentSluggable [does](https://github.com/cviebrock/eloquent-sluggable#updating-your-eloquent-models).

In the Shoppingcart case, one would normally have a Model that one wants

[2015-02-18 18:01] yasir1 opened #71 "Cart add only 3 items"
I am using shopping cart with L5. The problem is cart only add three items not more then 3. I dont now where problem is.
[code]

[2015-02-19 18:47] Crinsane commented on #71
I can't reproduce this problem, everything seems to work fine. Please check your setup, or supply me with more data to reproduce your problem.

[2015-02-19 18:47] #71 closed

[2015-02-19 18:47] #70 closed

[2015-02-19 18:48] Crinsane commented on #69
I've been thinking about using traits for these kinds of things.
I hope to find some time in the next few days to work on some ideas I have.

Thanks for the input!

[2015-02-19 19:05] Crinsane commented on #68
Nothing concrete actually. I just don't think there's really a way to store the entire cart (models and all) in session. At least not while supporting all session drivers.
So the best way, I think, is to improve the way models are handled, maybe let people override/write there own, logic to retrieve the models.

[2015-02-19 19:06] Crinsane commented on #67
I'm going to improve the way associated models work in the next version, so I'll keep your input in mind :)

[2015-02-19 19:06] #67 closed

[2015-02-20 07:07] martinlindhe commented on #69
sounds good :-) thanks

[2015-02-25 16:47] ddjikic opened #73 "event istances"
How can i listen or know in witch instance the event was triggered ?

[2015-02-27 09:27] morsaPT commented on #60
+1
Array of rowids looks good to me!

[2015-03-03 18:13] cchacholiades commented on #60
Well, is it possible to get the quantity for any item added to the cart without having the row id for the last inserted item?

[2015-03-04 15:25] cchacholiades opened #74 "Check if a product is already in cart"
I am trying to do a check:
If a product is already added in a cart then calculate the quantity and compare it against to what's in stock. The purpose of doing so is to prevent the user from adding more products than what it is available in store. Although, I can't get to loop through cart::contents and get a list with the items added in the cart. So I tried this:

[code]

Is there better way to ge

[2015-03-05 00:09] #74 closed

[2015-03-07 04:23] rezadaulay opened #75 "Why Cart::content() make an multidimensional array"
When i run Cart::content() in Laravel 4.2 i got this result

{"bc9ac4f3e40636e7a1ec4d8456dd95d7":{"rowid":"bc9ac4f3e40636e7a1ec4d8456dd95d7","id":"192ao12","name":"Product 1","qty":1,"price":9.99,"options":[],"subtotal":9.99},"f29d8363d2e62830437f7f18ca588ce6":{"rowid":"f29d8363d2e62830437f7f18ca588ce6","id":"192ao14","name":"Product 1","qty":2,"price":9.99,"options":[],"subtotal":19.98},"516c59f7

[2015-03-07 06:18] #75 closed

[2015-03-09 12:25] rduchnik opened #76 "Need better hash for checking if item is already in cart."
1. Add item1 to the cart (a unique rowid is generated).
2. Update item1 option (the rowid is not updated, since it was already generated).
3. Add item2 to the cart (whoops same unique rowid as item1 again).

Say I want to order a large and a small sweater in one purchase. I can't do this if the option is set AFTER the item is added to the cart. Say I have an ajax app that let's me change an items

[2015-03-09 14:26] Crinsane commented on #76
Thanks for reporting. I'll look into this asap.

[2015-03-17 20:09] stackoverflows commented on #76
Any updates on this issue?

[2015-03-18 08:58] Crinsane commented on #76
No not yet, have been feeling sick last week, so haven't been out of bed much.
I was thinking, won't this problem be solved if the rowId is regenerated after an option changes?

[2015-03-18 09:13] rduchnik commented on #76
This will pose problems for an ajax application. It can be done of course,
but it's additional work for the developer. Probably should be tucked away
in the item object. IMHO
On 18 Mar 2015 15:58, "Rob Gloudemans" <notifications@github.com> wrote:

[2015-03-18 11:00] Crinsane commented on #76
Yes, well I'll look into it, but I'm not sure if want to go that way, I think it's nice that the package just has a simple hash (the rowId) to track everything.
I'll get back to this.

[2015-03-19 02:26] rduchnik commented on #76
Well for now it would be great if it does at least regenerate the rowid
after an option change. So it would be great if you can implement that. :-)
On 18 Mar 2015 18:01, "Rob Gloudemans" <notifications@github.com> wrote:

[2015-03-22 06:36] jsdecena opened #78 "Admin changed the product detail while the product is in the cart of the user"
When the admin change the details of the product (ie. price) while this product is in the cart of the user, the details remains unchanged unless the customer add it again to their cart.

[2015-03-22 06:38] iaroel commented on #78
That approach may get your customers upset

On 22/03/2015 2:36 pm, "Jeff Simons Decena" <notifications@github.com>
wrote:

product is in the cart of the user, the details remains unchanged unless
the customer add it again to their cart.

[2015-03-22 09:15] Crinsane commented on #78
As said above, I think that would be a very bad practice, changing the price of an item while it's in you're shoppingcart. If you really want to do something in these situation, recalculate the cart on checkout or something.

[2015-03-22 09:15] #78 closed

[2015-03-22 09:19] jsdecena commented on #78
Thanks for replying. In real life scenario, the admin would not know if any of his product is in someone's cart. I am trying to come up a solution and will post here if successful.

[2015-03-26 15:16] kferran commented on #69
Any ideas on this?

[2015-03-31 18:48] hunterg325 commented on #76
@rduchnik  Created a pull request that solves this issue.

[2015-04-03 13:14] notflip opened #80 "rowid"
How do you know the rowid of the item you wish to remove?

[2015-04-03 13:21] #80 closed

[2015-04-04 11:29] argb commented on #76
haven't solve the bug?

[2015-04-06 10:15] ekophe opened #81 "cannot get the remove item work"
i cannot get the controller works for my remove item.

here's my controller code for removing item:
public function getRemoveitem($id){
        $product = Product::whereId($id)->first();
        Cart::remove($product->rowid);
        return Redirect::to('store/cart');
    }

and this is my link to delete the product in the view:
a href="/store/removeitem/{{$product->rowId}}">{!!Html::image('img/re

[2015-04-06 13:22] hunterg325 commented on #76
The pending pull request solves the bug. It just has to be merged.

[2015-04-07 07:56] ekophe commented on #81
My bad. It should be $product->rowid instead of $product->rowId. Now its working fine.

Great plugin.

[2015-04-07 07:56] #81 closed

[2015-04-07 11:43] notflip opened #82 "Associate not working"
I'm trying to associate the Cart to my products model

    Cart::associate('Product')->add($id, $product->name, $quantity, 4.50);

I'm getting the unknown model exception.. The name of my model is 'Product'
Any idea what I might be doing wrong here?

( Great plugin by the way! )

[2015-04-08 04:53] cuongduc commented on #82
+1 I also have this problem in Laravel 5. At first, I thought it was because I didn't set the app namesepace. However, even after setting namespace, the issue still retains

[2015-04-08 07:36] Crinsane commented on #82
Thanks for reporting this. Will look into it asap, just very busy lately.

[2015-04-08 07:37] Crinsane commented on #81
Glad you got it to work!

[2015-04-11 10:11] lum3ll opened #83 "Change currency format?"
Hi there, I'm using this fantastic cart but I have one problem:
How to change the currency from standard "$" to "Eur"?

Maybe this can be called from the method add(), with a new option for currency format :)

[2015-04-11 10:18] #83 closed

[2015-04-17 17:20] damienIN commented on #82
Associate is working as expected in my installation of L5. Associate takes two parameters, "ModelName" and "Namespace." The default namespace for L4 was null, but should be "App" for L5.

If you're using L5, but want to use associate, just pass in parameters like...

    Cart::associate('Product','App\Ecommerce')

[2015-04-21 14:59] nexana commented on #69
I am looking for something similar. I am currently extending the Cart class with my own and added new attributes (like paymentmethod, shippingmethod, appliedTax,...)

However, the updateCart method doens't seem to store these extra attributes on the session.

Any help would be greatly appreciated!

[2015-04-21 16:41] sevealecks commented on #82
I'm using L5 and it's work almost fine but...
In my case, instead to get product name with $row->product->name, I use $row->product['name']
Try this

[2015-04-23 10:50] gjportegies commented on #69
What about implementing discount? Would be very nice to have the option to add only a single discount percentage.

[2015-04-24 04:06] runningjack commented on #68
i think it'll be great if Cart::add(...) is sessioned so it could be accessible any where

[2015-04-25 14:30] danboh opened #84 "Cart session expiration time"
Hello,

First of all thank you for your work!

I've started using your cart solution but I've noticed that the cart session is expiring too soon (few hours?).

Any way this can be configured?

Thanks!

[2015-05-20 16:33] Goddard opened #85 "laravel 5"
Any laravel 5 plans?

[2015-05-20 16:49] Goddard commented on #85
never mind should of read a little more :D

[2015-05-20 16:49] #85 closed

[2015-05-21 22:18] kerwitz opened #86 "Update projects short description"
The short description of this project currently suggests that it is a Laravel 4 package while, from the looks of it, you do support Laravel 5.

[2015-05-26 01:17] mikenolimits commented on #66
Yo.

If anyone else is having problems with this you can create an instance like so w/o modifying any source code or forking.
[code]

[2015-06-03 02:18] juan-sp-si opened #87 "Cart::update()"
Hi I am trying to update the Quantity of a item in the cart when I use Cart::update($rowId,$qty)

I get this in the cart content
[code]
my new value is in the array of item but I also see  qty set as 1 outside of that array and that 1 is the value I get as the qty of the row...

[2015-06-03 06:27] Crinsane commented on #87
Please supply me the code you're using, because I can't reproduce this.

[2015-06-03 09:48] agrandin opened #88 "Load cart-content from Cache."
Hi,
I have stored a carts content in the cache like this using Laravel 4.2. Cache::put('CART_<id>',Cart::instance('wscart')->content(),$expiresAt);

Now when I want to load the content of the cart from the cache instead of whats currently in it. IS it possible? I want to do something like this, Cart::instance('wscart')->content = Cache::pull('CART_<id>');
which obviously does not work. But is ther

[2015-06-03 09:59] Crinsane commented on #88
There's indeed no build in way to import old cart content.
I guess the best way to do this right now is just take the old content from your cache, loop over it and re-add all items. So something like:

[code]

[2015-06-03 09:59] #88 closed

[2015-06-03 15:34] juan-sp-si commented on #87
Sure here is the function
a form is submited and
id = c287c01b76942b7b09df2614b6bd8e4f
qty = 2

	public function updateCart()
	{
		$rowId = Input::get('id');
		$qty = Input::get('qty');
		Cart::update($rowId, $qty );
		return redirect('/carrito');
		return $id;
	}

Ive also tried instead of using a variable for $qty  setting the number manually with the same results.

[2015-06-18 13:10] lukepolo commented on #76
:+1: , please merge!

[2015-07-03 17:58] giapfpt commented on #87
I want update multiple row with POST method, please help me, thanks :)

[2015-07-07 14:09] MikkyX commented on #82
I'm on Laravel 5.1 and am getting this error, even when using
    Cart::associate('Product','App\Product')-

as suggested above.

[2015-07-17 11:16] joeserg commented on #60
I was also looking for this functionality and have come up with a (potentially hacky) workaround. This line of code appears directly after I call the `add()` method:

`$row = Cart::search(['id' => $product_id ]);`

Because I store a product ID against each item, I'm able to reliably query the cart for the last added (or updated) row.

[2015-07-25 18:40] AndreasLyngholm opened #90 "Foreach Cart::content(), not working"
When ever I try to run the Cart::content() through a foreach loop I get a blank page. Please help.

Code:
<img width="1176" alt="skaermbillede 2015-07-25 kl 20 41 58" src="https://cloud.githubusercontent.com/assets/10391836/8890791/a557a00e-330d-11e5-813d-b12562a83c70.png">

Output:
<img width="1920" alt="skaermbillede 2015-07-25 kl 20 43 00" src="https://cloud.githubusercontent.com/assets/1039183

[2015-07-27 07:41] amirmasoud commented on #90
I did that like this:
on the controller:

    /**
     * Get the cart content
     *
     * @return CartCollection
     */
    public function cartContent()
    {
        $content = Cart::content();

        return view('carts.content', compact('content'));
    }

on the view:

		@foreach( $content as $item )
			<tbody>
				<tr class="text-center">
					<td>{{ $item->name }}</td>
					<td>{{ $item

[2015-07-28 19:01] amirmasoud commented on #86
+1

[2015-07-28 20:47] bebnev commented on #90
In the beginnig of your code you have "if" check:
[code]
and "if true" you loop through your content.
Probably the check should be !=
Frankly speaking if your are looping through "forelse" loop with "empty" part, why do you need "if" check ?

And the way that @amirmasoud suggested is much more cleaner.

[2015-07-31 04:23] danboh commented on #69
@gjportegies Wondering if you were able to implement discounts?

[2015-07-31 17:03] reppair commented on #69
That would be just awesome! I'm a junior developer working on my first project with laravel and just got @Crinsane 's cart integrated. I am building e-commerce website / app for a friend who wants discounts functionality integrated. As you might guess I got stuck and now I am researching all possibilities. All suggestions, links to useful resources to read / watch and ideas are deeply appreciated.

[2015-08-02 18:09] akuma605 opened #92 "How to add an image"
Hello, thank you for the package, I added the id, name, price and qty but how to add a string data caled 'image'?

[2015-08-02 18:16] reppair commented on #92
Hello @akuma605. I just started learning php and laravel but I got that one working :) As the documentations says here -  https://github.com/Crinsane/LaravelShoppingcart, you can pass a $key => $value pair like so:  array('id' => '4832k', 'name' => 'Product 2', 'qty' => 1, 'price' => 10.00, 'options' => array('size' => 'large')).  @param Array        $options Array of additional options, such as '

[2015-08-02 18:25] akuma605 commented on #92
Hello, thank you for the reply, I added like that:
Cart::add(array(
			'id' => $product->id,
			'name' => $product->titre,
			'qty' => 1,
			'price' => $product->prix,
			'options' => array('image' => $product->image),
		));
but in my view I put {{$product->image}}, and nothing appear.
{{$product->id}}{{$product->name}}{{$product->qty}}{{$product->price}} work fine

[2015-08-02 18:38] bebnev commented on #92
Because it is in options Collections you have to call options first and then the option you need.
Something like `{{ $product->options->size }}`

[2015-08-02 18:43] reppair commented on #92
Are you are storing the path to the location of the image directly on the products_table  in some field as a 'string'? I have done this by setting a field in the product's $table in my create_products_migration like so: $table->string('image')->nullable(); Then I am able to say $product->image and it spits out the path to where my image is stored in. Try to dump() / dd() the value of this field. O

[2015-08-02 18:44] reppair commented on #92
If you get something like "/path/to/image" string then maybe you can assign this value to a $variable and then put it in the cart's options.

[2015-08-02 19:04] akuma605 commented on #92
I store a path to my image and when I dd($product->image), it show me "jr.jpg" which is good, but the problem is to get this "jr.jpg" on my view, I put this like in the docu:
<?php echo ($product->options->has('image') ? $product->options->image :'');?>
not working

[2015-08-02 19:06] akuma605 commented on #92
{{ $product->options->size }} not working to
sorry for disturbing you guys:)

[2015-08-02 19:19] Crinsane commented on #92
Could you please provide us with more of your code. How should we reproduce your error?

[2015-08-02 19:23] akuma605 commented on #92
can I add the key 'image' or do I have obligatory to put it on the 'options' key'?

[2015-08-02 19:25] reppair commented on #92
well i loud say you can't rend your image be cause you have the wrong path, when you save the path in the table it should also be resolvable as well :) I had this issue not long ago. I echo it like so: <img class="feat-img" src="{{ $product->image }}" alt="Oops! Снимката липсва."> but if i dd() $product->image I get the following string  - "/images/products/2015-07-28 02:49:02-product.jpg" which i

[2015-08-02 19:31] Crinsane commented on #92
[code]

[code]
*Result*
![schermafbeelding 2015-08-02 om 21 30 15](https://cloud.githubusercontent.com/assets/1297781/9027643/b2c33fb8-395d-11e5-84da-a9037ea52a65.png)

Looks fine to me...

[2015-08-02 19:31] #92 closed

[2015-08-02 20:10] akuma605 commented on #92
it work finally, thank you guys

[2015-08-04 13:47] neochief opened #93 "Cart + Ajax"
My application adds/removes item from cart through ajax calls. Plus, there's an ajax call, which returns actual cart contents. I discovered that sometimes, if you fire these call simultaneously, the cart contents could be screwed due to the way Laravel handles session data.

Here's example:
1. Fire cart/get ajax request.
2. Fire cart/add ajax request.
3. The problem can be discovered if first requ

[2015-08-04 13:53] neochief commented on #40
Same problem here. Posted new issue: https://github.com/Crinsane/LaravelShoppingcart/issues/93

[2015-08-04 14:06] lukepolo commented on #69
I have been working on a laravel 5.1 cart that I just started working on that has taxes. Soon it will be receiving bunch of updates related to discounts, promotions ect. If your interested in testing let me know Luke@LukePOLO.com, and I would be more than willing to help Crinsane to implement these after I've tested them

[2015-08-05 20:12] pumplerod opened #94 "Same product with different prices based on options?"
I have products that vary in price based on options such as size or color.  Currently when I add a new product to my cart the quantity is updated regardless of whether or not different options have been selected.

So while a person may have added one 'Product A' - Small at $10.00 and one 'Product A' - Large at $15.00 when I display the cart contents by row I'm shown that 2 'Product A' items have b

[2015-08-05 20:38] pumplerod commented on #94
I'm Very sorry.  This is a complete typo on my part introduced trying to chase down something else.

[2015-08-05 20:38] #94 closed

[2015-08-06 02:18] stevethomas commented on #82
+1 @MikkyX, I initially hit this exception as well, is the correct usage. I'm going to submit a PR with an update to the docs as it was not self-explanatory.
[code]

[2015-08-07 08:59] yansentan opened #96 "Associate Model with Relationship"
If I have a 'Product' and 'ProductAttribute' model, and I want to get the data from the ProductAttribute model, how do I associate them both with associate()?
Is it possible?

something like this Cart::associate('Product')->with('attribute')->add();

[2015-08-07 15:03] amirmasoud commented on #96
you mean associate to 2 models? if it's 2 models I will add second model data as option.

[2015-08-10 01:35] ddjikic opened #97 "duplicating rows instead of updating"
Hi , i have 2 ways to add a product to the cart
1) on products list ( quick add to cart using ajax, post method)
2) on product details ( simple form post method )
both send to the same method in the controller.

i have the same item that i want to add to the cart if i use any of the method alone they work as they should, but if i have already the product added using the first method and i want to

[2015-08-10 05:51] Crinsane commented on #97
I some sample code to be of any help. Are you setting any options? What is the output of `Cart::content();`?

[2015-08-10 08:06] ddjikic commented on #97
i did not see why until i pasted here and saw the formatted output.  I found the issue in some cases option value had a white space

[2015-08-10 08:10] Crinsane commented on #97
Ok, glad to see the problem is solved!

[2015-08-10 08:10] #97 closed

[2015-08-12 18:47] InfiniteDevelopment commented on #90
We should close this one. :) ;)

[2015-08-12 18:47] InfiniteDevelopment opened #99 "RowID"
How do we find the row ID to update a instance of the cart?

[2015-08-12 20:42] InfiniteDevelopment commented on #99
![screen shot 2015-08-12 at 4 40 14 pm](https://cloud.githubusercontent.com/assets/1442229/9236117/da288d0a-4110-11e5-82c7-73b34f529ad9.png)
![screen shot 2015-08-12 at 4 40 20 pm](https://cloud.githubusercontent.com/assets/1442229/9236121/de923cce-4110-11e5-88ca-0bbb66d13b54.png)

These two show that I can indeed get to the ID attr of that cart object. But I need to have the row ID first.

See be

[2015-08-13 20:01] #90 closed

[2015-08-13 20:06] Crinsane commented on #99
`$row->rowid`

[2015-08-13 20:06] #99 closed

[2015-08-13 20:08] InfiniteDevelopment commented on #99
Where do you get the $row from? Using my screenshots would that be $cartContent->rowid

[2015-08-13 20:10] Crinsane commented on #99
`Cart::content()` returns a collection. So you have to get a certain item in it '`$content->first()` or something. Or you loop over all items in the cart.

[2015-08-13 20:11] InfiniteDevelopment commented on #99
I still dont get it. I am just trying to find the item ID I have added to make sure I dont add a dupe. You get what I mean?

[2015-08-13 20:12] InfiniteDevelopment commented on #99
Look at my code and screenshots. That should show you my delima.

[2015-08-13 20:15] Crinsane commented on #99
You mean `Cart::search(['id' => 'your-id'])`?

[2015-08-13 20:16] InfiniteDevelopment commented on #99
Will that work? I should do a if(Cart::search(['id' => 'your-id'])){}else {}?

[2015-08-13 20:18] Crinsane commented on #99
That methods returns an array of rowids that match your search credentials.

[2015-08-13 20:21] InfiniteDevelopment commented on #99
not sure thats what I am looking for but I will hack around and see if it works.

[2015-08-17 10:56] cmoralesweb commented on #96
I'm interested in this functionality too. My models have several Relationships and queries get out of hand with just 2 products in the cart. I've tried using lazy eager loading ( http://laravel.com/docs/5.0/eloquent#eager-loading ), but since load() is a method of Database Collections and not Support Collections, method fails.

I've tried creating a new Database Collection from Cart::instance('mai

[2015-08-18 15:26] InfiniteDevelopment commented on #99
So I am looking to get into that object to get the item ID so that I can make sure no more than one will be able to get added. Maybe you can help me out logically understand how to get the Row ID back that contains that item ID. from there i can do some conditional logic that stops it from occurring.

[2015-08-18 15:51] InfiniteDevelopment opened #100 "Cart Search?"
![screen shot 2015-08-18 at 11 49 58 am](https://cloud.githubusercontent.com/assets/1442229/9334926/4c2519ae-459f-11e5-9f89-07e162353b44.png)

I get this when using cart search. I am trying to use it to get the rowid back of a specific item ID...

[2015-08-18 16:45] Crinsane commented on #100
Please show your code.

[2015-08-18 16:56] InfiniteDevelopment commented on #100
I have fixed it. I found the rowID and I am happy now. I just have to figure out how to delete one item from the cart now lol.

You can close this one bro! :)

Good work on this BTW. I love the support.

[2015-08-18 17:19] Crinsane commented on #100
Ok, glad you figured it out!

[2015-08-18 17:19] #100 closed

[2015-08-20 13:35] Crinsane commented on #99
@InfiniteDevelopment If you have a `rowId` you can simply use `Cart::get($yourRowId);` to get the row out of the cart and then `$row->id` to get the Id... is that what you mean?

[2015-08-23 13:29] samjoyce777 commented on #7
great package!! I am looking to save the cart, in db using just serialize, but the only way I can see is to serialize Cart::content(). But this does not store the models/namespaces, so when I go the backend of my app, I lose the relationships. Is there anything implemented for this?

[2015-08-24 19:27] junkystu opened #101 "Remove from cart throws an exception"
The `remove()` function returns null rather than boolean true when removing items. After passing it a non existing rowid, it throws an `Gloudemans\Shoppingcart\Exceptions\ShoppingcartInvalidRowIDException` exception with empty message rather than return false.

[2015-08-30 05:28] mateusjatenee commented on #82
Just upping this so other people can see!

[2015-08-31 09:53] it-can commented on #101
I am also experiencing this error in Laravel 5.1.12

[2015-09-01 15:23] andiaziz opened #102 "Add Custom Data"
Hello :)
I just want to ask about cart feature.

When I use CodeIgniter Cart Library, it allow us to add custom data on the Cart
https://ellislab.com/codeigniter/user-guide/libraries/cart.html
I can add the Product URL, so on the Cart page, it will clickable on the Product Title.

Is that possible with this package?
Thanks

[2015-09-04 18:22] redkowloon opened #103 "How to use redirect instead of return view for cart content?"
Hi , i try to configure how to solved this but return errors .

my code

     public function addcart ()
    {
        $products = Product::find(Input::get('id'));
        $qty = Input::get('qty');
        Cart::add(array(
            'id' => $products->id,
            'name' => $products->name,
            'qty' => $qty,
            'price' => $products->price,
            ));

        $content =

[2015-09-07 07:48] infacq opened #104 "Laravel 5.1"
I'm new to laravel. Hope there is a section for laravel 5.1.

[2015-09-07 21:08] paulvl commented on #104
You can use laravel 5 section for 5.1 version without any trouble.

[2015-09-17 01:53] hakimihamdan88 opened #105 "How to change subtotal per rowid?"
I need to change subtotal per rowid, any idea?

[2015-09-19 05:44] redkowloon commented on #102
Hi,

you can add custom data per item basis using option

[2015-09-21 18:15] angelrdgz opened #106 "Call to a member function add() on a non-object"
This is my code:

Cart::add(array('id' => '293ad', 'name' => 'Product 1', 'qty' => 1, 'price' => 9.99, 'options' => array('size' => 'large')));
return Redirect::to('items')->with('message','Se agrego el articulo al carrito de compras');

I'm already use your example code.

[2015-09-22 12:43] gorkaeff commented on #104
Are there any example to test?? I can't get simple "Cart::add...." in my controller to pass to my view . Help! please :S

[2015-09-22 12:45] Crinsane commented on #106
Which Laravel version and please give me the full stack trace

[2015-09-22 14:34] angelrdgz commented on #106
Laravel 4.2  but I already had used your library before and it worked perfectly . Now I get this error

[2015-09-24 13:46] lbodden commented on #101
can confirm not working in laravel 5.1.16

[2015-09-24 14:10] Crinsane commented on #101
Please supply me the code that doesn't work. Because I've just tested it and everything is ok.

New Laravel installation version 5.1.17:

Add a new item to the cart:

[code]

When I next dump the content of the cart `dd(Cart::content());` I get one item in the cart with rowId: 0f6524cc3c576d484150599b3682251c

Next remove the item from the cart:

[code]

Item is removed, no exception thrown...

[2015-09-24 16:25] Crinsane commented on #106
I still need more code and a stacktrace to debug this.

[2015-09-26 10:27] junkystu commented on #101
@Crinsane I've used pretty much the same code as you with the same version of Laravel, new install. When I dd the content, I get the item with its rowId.

    Route::get('/', function () {
        Cart::add('293ad', 'Product 1', 1, 9.99, ['size' => 'large']);
        dd(Cart::content());
    });

    Route::get('delete', function () {
        // Cart::get('0f6524cc3c576d484150599b3682251c');

[2015-09-26 11:08] Crinsane commented on #101
Try to first do the `Cart::add()` and no `dd()`. Then comment the `Cart::add()` and uncomment the `dd()`
Now you should see content, and a rowId. Now you should be able to delete it.

When you perform a `dd()` method, it will make the script die instantly, so the session is not written.

[2015-09-26 11:18] junkystu commented on #101
@Crinsane , yes, that seems to be what's happening. However, if you refresh the delete page, you will still see an exception because you are trying to remove and ID that no longer exists in the cart content. The issue is that an exception is thrown and it's not documented. The documentation says:

    /**
     * Remove a row from the cart
     *
     * @param  string  $rowId The rowid of the item

[2015-09-26 11:26] Crinsane commented on #101
Aaah I see. Could you send a pull request with the updated docblocks?

[2015-09-26 11:58] junkystu commented on #101
I would rather update it so that it returns boolean. Please let me know if you'd like me to do that.

[2015-09-26 12:10] Crinsane commented on #101
You can give it a shot

[2015-09-26 12:32] junkystu commented on #101
I gave it a go! I've noticed some inconsistencies in other docblocks so I'll update those too when I get the chance.

[2015-10-08 08:13] muhghazaliakbar opened #108 "How to get $rowId if i have $id product"
i tried ```Cart::search(['id] => $id);``` but i cant get rowId from item

[2015-10-09 05:43] Crinsane commented on #108
`Cart::search(['id' => $id]);` is indeed the way to go. If it's not working I really need more information to help you.

[2015-10-09 09:54] muhghazaliakbar commented on #108
sorry, my mistake :D
my requested $id is null, i forget to recheck

[2015-10-09 09:54] #108 closed

[2015-10-17 13:55] pl38 opened #110 "array_key_exists()"
Hi,

I building a site using the cart and I wonder is anyone could help with this, Laravel 5.1.20 is the version I'm using and the latest stable version of the cart.

I can add to the cart without any issues but the I try to increment the qty I get the error:

ErrorException in Collection.php line 993
at HandleExceptions->handleError('2', 'array_key_exists(): The first argument should be either a

[2015-10-17 15:21] Crinsane commented on #110
One of the first things that comes to my mind is watch out with those `dd()` methods. While helpful, they can give problems with sessions being reset or not written. So quickly checking the content of the cart with `dd()`, going back to your editor, commenting out the function and refreshing the page, could mean the cart is empty at the second try.

Also, have you tried setting the new qty by simp

[2015-10-17 15:25] #110 closed

[2015-10-21 11:30] andersonmadeira opened #111 "PHP Fatal error: Call to undefined method Gloudemans\Shoppingcart\Facades\Cart::isDeferred()"
I followed the instructions in the main README.md file for Laravel 5 and when I try to create a controller I get the following errors:

    $> php artisan make:controller --plain CartController

    PHP Fatal error:  Call to undefined method Gloudemans\Shoppingcart\Facades\Cart::isDeferred() in /.../vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php on line 119

    [Symfony

[2015-10-21 12:31] andersonmadeira commented on #111
I feel so embarrassed to assume my silly mistake, but here it goes: I put the facade instead of the serviceprovider in my config/app.php. I think you guys should delete this issue as it does not feature a problem/error/bug in the library. Thanks.

[2015-10-21 15:55] #111 closed

[2015-10-22 15:51] pl38 commented on #110
Hi Crinsane,

yes that sorted it, thank you - and just in case it helps anyone else here is what I did:

    public function edit(Request $request)
    {
        // dd($request->product_id);//->product_id->increment
        $productId = $request->product_id;
        $method = $request->method;
        //increment the quantity
        if (isset($productId) && $method == 'plus') {
            $rowId

[2015-10-26 11:26] Harrrrry commented on #101
I feel the same problem,
ShoppingcartInvalidRowIDException in Cart.php line 191.
Can any one suggest me a solution

[2015-10-26 11:28] Crinsane commented on #101
@Harrrrry What problem? What code? How can I reproduce this?
Can't give a suggestion if you don't give us anything to work with.

[2015-10-26 11:30] Harrrrry commented on #101
@Crinsane I updated my question with complete code, please take a look.

[2015-10-26 11:36] junkystu commented on #101
@Crinsane @Harrrrry my pull request has fixed this issue.

[2015-10-26 11:46] Harrrrry commented on #101
@junkystu thanks, i will check.

[2015-10-27 10:22] Harrrrry opened #112 "Extra parameter in Cart::add()"
Hyy I am trying to give extra parameter image in Cart::add() but not work.

Cart::add(array('id' => $maid_id, 'name' => $fdw->name, 'qty' => 1, 'price' => 20,'image' => $fdw->image));

Please suggest me

[2015-10-27 11:04] #112 closed

[2015-10-27 17:23] junkystu commented on #101
@Crinsane Why wasn't the pull request merged in? Does anything require changing?

[2015-11-20 22:33] reppair opened #113 "methods: subtotal & total"
Hello, first I want to say sorry if that isn't really an issue with the package it self and the case is that I am just doing something wrong or it is expected behavior. However I couldn't find better place to ask about it! I have my Product model associated with the Cart and I am using it in laravel5 project. Having that said here is my issue with the cart.. having one product in the cart (or more

[2015-11-20 22:57] reppair commented on #113
Update: well yes, $row->product->price returns the updated price of the product, but the $row it self isn't being update at all..  Shouldn't it be updated as soon as the product price changes? Guess that also depends on the project requirements but in my case I expect the cart to get updated asap after the product's price changes. How can I accomplish this? drop the row and add a new one with the

[2015-11-21 08:12] Crinsane commented on #113
Okay, so basically you're saying you'd expect the prices in the cart to update when you update the price of a model in your database?
First I really wonder why you would want this? Imagine going into a store, putting a 10 dollar usb-cable in your basket, giving it to the cashier and her charging you 100 dollars because someone conveniently changed the price while you were walking to the counter. ;

[2015-11-21 08:12] #113 closed

[2015-11-21 08:12] #106 closed

[2015-11-21 08:12] #104 closed

[2015-11-21 08:12] #105 closed

[2015-11-21 08:13] #102 closed

[2015-11-21 08:13] #103 closed

[2015-11-21 08:14] #101 closed

[2015-11-21 08:14] #93 closed

[2015-11-21 08:15] #52 closed

[2015-11-21 08:16] #62 closed

[2015-11-21 08:16] #73 closed

[2015-11-21 08:16] #84 closed

[2015-11-21 20:11] reppair commented on #113
I get it +1:

[2015-11-21 20:11] reppair commented on #105
well yeah ..https://github.com/Crinsane/LaravelShoppingcart/issues/113

[2015-12-02 13:30] ShaitAtComodo opened #114 "it seems that cart::add is not adding but overwriting"
also when page is refreshed the cart is gone

[2015-12-02 13:51] mzmmlds commented on #114
it depends, if you pass same id then the cart will update its qty and subtotal , try passing with different id.

[2015-12-02 13:53] ShaitAtComodo commented on #114
yes, i use different id.

[2015-12-02 14:06] mzmmlds commented on #114
can we see what you have done so far?

[2015-12-02 14:09] ShaitAtComodo commented on #114
just installed it
and testing it in the controller
    public function index()
    {
        Cart::add(212, 32, 12, 12, array(12));
        dd(Cart::content());
    }
than changing the is to 213
when refreshing only the new one is appearing.
then remove the add function and getting empty array!

[2015-12-02 14:12] mzmmlds commented on #114
Try this one, it working fine in my machine.

Cart::add([
                'id'    => $product_id,
                'name'  => 'XYZ',
                'qty'   => 1,
                'price' => 10.00
            ]);

[2015-12-02 14:18] ShaitAtComodo commented on #114
no ,  I am sorry no change

[2015-12-02 14:18] Crinsane commented on #114
The problem is the `dd()` method, the PHP script will die so Laravel doesn't write the session.

[2015-12-02 14:18] #114 closed

[2015-12-02 14:24] ShaitAtComodo commented on #114
yes correct, sorry...

[2015-12-04 06:06] mzmmlds opened #115 "Searching products in loop"
Lets say i have 10 products with their respective ids, if i add a loop to search all the products in shopping cart the rowId always empty. Example Code :

loop(product_id)
   return Cart::search(['id' =>product_id]);
loopends

the search is working without loop that is only for one product.

[2015-12-04 06:41] Crinsane commented on #115
I will need a bit more code to really test this.

[2015-12-04 08:46] bahjaat commented on #56
Same for
[code]
(which is also using the 'updateCart' method)
Will use your fix. Thanks.

[2015-12-04 09:50] mzmmlds commented on #115
ok, consider if i have 10 products on my page , now i want to check with the cart for each product.

$products = [10,20,30,35,45,46,47,48,49,50];

foreach($products as $product)
       $checkinCart = Cart::search(['id' => $product->id]);

       if(!is_null($checkinCart)){
              $getQty = Cart::get($checkinCart[0]);
              return $getQty['qty'];
       }

       return 0;
endforeach

[2015-12-06 18:31] pupadupa opened #116 "Is there a way to store cart in users cookie (~forever)?"
Hi,

Is there a way to store cart in user's cookies forever?
I don't want to store session forever or change session driver to cookie, but I want to store cart in cookies forever (or for a long time).
So, is there a way to change cart's storage to cookies?

[2015-12-07 07:24] Crinsane commented on #116
There's currently no build in way to achieve this, so you'd have to write this functionality yourself.

[2015-12-07 07:24] #116 closed

[2015-12-07 09:03] mzmmlds commented on #115
this issue is because of datatypes , if the datatype in cart is string then we need to pass id as string. Solved it :)

[2015-12-09 06:01] #115 closed

[2015-12-14 01:51] huyle2607 commented on #87
I hope this one will help you. Here is my code that I used in my eCommerce project.
[code]
In cart form, all you need to do is give the action this url <form action="{{ url('/cart/update') }}" method="POST"....
This url will call the updateCart function in the Controller that you have the updateCart funciton written in.

Hope this will help you!

[2015-12-19 05:45] huyle2607 opened #117 "Problem with adding more than 2 options in Cart"
Hi!
In my cart, I want to have more than 1 option fields. For example:
[code]
When I try to get 2 options out Laravel said that those are Undefined Index. Are there any solutions?

[2015-12-19 08:51] Crinsane commented on #117
I need more code to debug this

[2015-12-19 08:54] Crinsane commented on #117
Seems to work perfectly fine: https://github.com/Crinsane/LaravelShoppingcart/blob/f5f15c73a21fe8bd0752b6320d20a14819322cda/tests/CartTest.php#L79

[2015-12-19 08:54] #117 closed

[2015-12-20 03:33] elbakly commented on #36
Just an update here for those who are in development when you use Cart::destroy(); or Cart::remove(); or any of cart functions you cant follow that by dd(); and expect it to be updated in your session

[2015-12-27 20:41] mbijker opened #118 "FatalErrorException in CartController.php line 15: Class 'App\Http\Controllers\Cart' not found"
I'm sorry I'm pretty new to Laravel but can't get this to work.
The error I'm getting is:

FatalErrorException in CartController.php line 15: Class 'App\Http\Controllers\Cart' not found

My CartController.php:
'''
<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;

use App\Http\Requests;
use App\Http\Controllers\Controller;

class CartController extends Controller
{
    public fu

[2015-12-27 21:46] Crinsane commented on #118
You indeed have to use the Cart namespace. Simply "use Cart;"

[2015-12-27 21:46] #118 closed

[2015-12-29 10:34] Harrrrry opened #119 "Get count from cart into view direct"
Hyy, i want $cart count, Can i use below line direct into view?
How can i use Cart into view?
 $cart = Cart::content();

Thanks

[2015-12-29 10:48] mzmmlds commented on #119
{{ Cart::count(false) }} will echo the items in cart.

[2015-12-29 11:22] Harrrrry commented on #119
@mzmmlds thanks, its work.

[2015-12-29 11:22] #119 closed

[2016-01-06 17:24] renege opened #120 "Not working!"
@Crinsane why is this not working:

This is a Controller function called by a get-link ```/cart/{{ $product->id }}```
[code]
In the View I have this:
[code]

[code]

[2016-01-08 08:59] huyle2607 opened #121 "Add the same product into cart"
Please help me with this one.
If I add the same product into cart, its quantity increases but I don't know where is the code shows that action. Please help me 'cause I really want to know the code clearly.
Thanks a lots.

[2016-01-08 09:02] #121 closed

[2016-01-08 09:30] huyle2607 opened #122 "How to store items in user session?"
Could anybody show me how to store items in cart in user session, please?
For example, User A has 2 items in cart. Then user A logouts and user B logins, cart will show user B's cart which is empty. And when user A logins again, his cart still has 2 items. Is there anyway to do that?

'Cause when I logout and login with different account, cart still keeps the same items from the last person.
Thank

[2016-01-10 18:12] David-Kurniawan opened #123 "Not Wok in Laravel 5.2"

[2016-01-10 18:31] David-Kurniawan commented on #123
Sorry...
this Work Fine...
iam forgot to put middleware in my route
laravel 5.2 must use middleware ^_^

[2016-01-10 18:31] #123 closed

[2016-01-10 18:33] David-Kurniawan commented on #120
Okay, so I figured out that routes need to be added within the "web" middleware group like this:
[code]

[2016-01-13 09:53] gasper321 opened #124 "Trying to get property of non-object"
Hello.

Im trying to use your shopping cart but i came across some issues. First, here is my controller function code:

public function cart() {
        //update/ add new item to cart
        if (Request::isMethod('post')) {
            $product_id = Request::get('product_id');
            $product = Product::find($product_id);
            Cart::add(array('id' => $product_id, 'name' => $product->n

[2016-01-17 15:40] WayneHarris commented on #122
Hi @huyle2607

Laravel sessions are based on the browser/cookie, not the user logged in. So when you add cart items they're in the 'main' cart instance in the session, the next user will see the same cart unless you clear it when they log out or the session expires.

If you only show carts to the user when logged in you could set the cart instance to the users ID and retrieve, the matching cart wh

[2016-01-18 03:47] huyle2607 commented on #122
@WayneHarris  Thank you very much! Your answer is very helpful!

[2016-01-18 03:47] #122 closed

[2016-01-19 20:14] Cannonb4ll opened #125 "Cart destroy not working laravel 5.2"
Is there any bug known that this class will not work properly with laravel 5.2?

I am doing: Cart::destroy();, but its returning 'null', no boolean or cart is empty'ed.

[2016-01-23 16:05] David-Kurniawan commented on #125
#120

[2016-01-26 12:03] sagarneo11 opened #126 "Use Cart; not working - Trying to get property of non-object"
Below is the error in detail...

how much i know 'use Cart;' is not working. IDE showing error undefined class.

in Front.php line 102
at HandleExceptions->handleError('8', 'Trying to get property of non-object', 'E:\xampp\htdocs\laravel\app\Http\Controllers\Front.php', '102', array('rowId' => false, 'item' => null)) in Front.php line 102
at Front->cart()
at call_user_func_array(array(object(Front

[2016-01-26 13:32] lukepolo commented on #126
Did you include the facade ?

[2016-01-27 06:58] sagarneo11 commented on #126
hi,

thanks for reply, using laravel 5.2, i am not sure what exactly you mean but,

inside 'aliases' in routes.php i have following
'Cart'    => Gloudemans\Shoppingcart\Facades\Cart::class,

and inside 'providers' in routes.php i have following
Gloudemans\Shoppingcart\ShoppingcartServiceProvider::class,

[2016-01-27 07:19] Crinsane commented on #126
Please supply more code to work with. No way for me to debug this.
Also, an IDE telling you 'undefined class' doesn't mean the class is undefined... try using the laravel-ide-helper.

What's the code in Front.php line 102?

[2016-01-27 07:38] sagarneo11 commented on #126
on line # 102 the code is as below
Cart::update($rowId[0], $item->qty + 1);

also please let me know how i can share whole project if possible i will share.

[2016-01-27 08:11] Crinsane commented on #126
Viewing the exception you posted, it looks to me like the problem isn't the cart, but `$rowId` is false and `$item` is null

[2016-01-27 08:19] Crinsane commented on #126
Try checking your code and see what the `$rowId` and `$item` are like. Problem doesn't seem to have anything to do with the cart.

[2016-01-27 08:19] #126 closed

[2016-01-28 09:11] doctorde opened #127 "new attributes"
Is it possible to add new attribute  on each row ?
Cart::add(array('id' => $product_id,'uuid'=>$uuid, 'name' => $product->title, 'qty' => 1, 'price' => $price ,'options' => array('size' => $size,'colour' => $colour) ));

[2016-01-28 09:42] Crinsane commented on #127
You can add the id, name, qty and price. All other 'options' you can add to the options array.

[2016-01-28 09:42] #127 closed

[2016-02-02 07:12] josina08 opened #128 "how can apply coupons to shopping cart"
how can apply coupons to shopping cart during checkou

[2016-02-02 14:28] lukepolo commented on #128
I don't think this package supports coupons.

[2016-02-02 17:23] Crinsane commented on #128
That will be part of your checkout process, and isn't a feature of this package.

[2016-02-02 17:23] #128 closed

[2016-02-16 17:05] cjmling commented on #82
+1 @MikkyX   Thanks thats work :)

[2016-02-17 13:00] cjmling opened #129 "Cart duration before auto expire/empty ?"
Does the duration controlled by "lifetime" in config/session.php  ?

[2016-02-19 07:34] lyagami2 commented on #49
@Crinsane : Consider a case : "A user logs into his account, adds products to his cart and then he access it from another system (i.e. mobile or laptop) there will be nothing in his cart". Is there any solution for it?

[2016-02-19 22:26] kodescience opened #130 "$item->subtotal"
if you have an item priced at $10.00 and qty of 2. $item->subtotal will be $20
This leaves out the .00 and when using stipe, will effect the total price. instead of charging $20, it will charge $0.20.

[2016-02-24 17:40] kodescience commented on #49
If your going to store the cart in a database it doesn't make sense to use this package. it defeats the purpose of sessions.

[2016-02-24 17:53] lyagami2 commented on #49
It is required to store unfinished cart when user logins but dont complete order. Do u know is there is any laravel package that allows it?

[2016-02-24 18:14] lukepolo commented on #49
If you are using redis you can re-grab the session but you would have to store that session id somewhere.

[2016-02-24 19:16] kodescience commented on #49
Im not aware of any package with laravel but i would imagine it would be pretty quick to program.

[2016-02-24 19:17] lukepolo commented on #49
Im working on doing it in my cart package right now hopefully to have that feature up soon.

[2016-02-24 19:27] kodescience commented on #49
Sweet

[2016-02-24 20:24] lukepolo commented on #49
Feel free to use this branch : https://github.com/lukepolo/laracart/tree/user_cart_db

[2016-02-25 07:12] Jeemusu commented on #129
Yep, it uses the Laravel session so will use whatever driver and settings your using in your Laravel app.

[2016-02-25 08:21] Crinsane commented on #129
As said above, it uses the Laravel session. So yes. :-)

[2016-02-25 08:21] #129 closed

[2016-02-25 19:47] absemetov opened #131 "How to get instances names?"
Hello!
I can edit order users in shop site, instance name order_id.

Example:

[code]

[2016-02-26 13:48] lukepolo commented on #96
Dang this would be cool.

[2016-03-10 06:30] banerjeeaditya opened #132 "cart update not working on different routes."
Hi I am facing a weird problem in which I update the cart in one route but it doesnt reflect the updates in the cart on the other route.

for example I have a route name cart/revalidate and have a method name getIndex in which I am updating the cart. The code is -:

foreach($saleprice as $key => $value){
    		$row = Cart::instance($cookie)->get($key);
    		$row->options['sale_price'] = $value;

[2016-03-10 12:52] Crinsane commented on #132
I need more code to debug this. But watch out with `die` or `dd()`, because they will destroy the Laravel session (which the cart uses)

[2016-03-12 18:14] dasaco opened #133 "[Laravel 5.2] Class 'Cart' not found"
Hello,

Version: Laravel 5.2

I'm getting Class 'Cart' not found, when trying to use it in Controller, that has use Cart in it's header

In config/app.php I have both Provider and Facade

Provider:
Gloudemans\Shoppingcart\ShoppingcartServiceProvider::class,

Facade:
'Cart'      => Gloudemans\Shoppingcart\Facades\Cart::class,

In routes I use 'web' middleware correctly.

In composer.json I have

"r

[2016-03-12 18:17] dasaco commented on #133
Also tried various ways of writing facade and provider in app.php, nothing works

Done composer dump-autoload and composer update

Directory exists in vendor folder, it is there

[2016-03-15 17:54] josebispo opened #134 "Congratulations for LaravelShoppingCart"
Congrat's for this app, work perfect in Laravel 5.1, help me full .

[2016-03-15 19:00] lukepolo commented on #133
Did you reference it via \Cart or just Cart.

If you did the later make sure to include it.

use Cart;

[2016-03-15 22:26] dasaco commented on #133
Hello, thank you for your answer

But I tried this already, doesn't seem to work either

[2016-03-15 22:26] #133 closed

[2016-03-18 09:12] githubhasib opened #135 "Cart Details Gone when refresh withsame browser"
Suppose My domain name is www.xyz.com
now I am visit www.xyz.com from my browser. After visit I add 4 product into cart list.Now I am hit on my browser same tab with www.xyz.com then cart list gone.

But I think It should exist before browser close or not delete by hand.

I am using laravel 5.2

[2016-03-21 08:03] cjmling opened #136 "Does a cart have some specific generated id ?"
I am not looking for item id. But for the whole cart id.

I want to keep reference of the cart into the database too (before the user actually place order). Is there any id generated for a cart so that I use this id to keep track with the db that they are in sync.

[2016-03-21 08:14] Crinsane commented on #136
Not that I know of. Maybe you can use the session id?

[2016-03-21 08:14] #136 closed

[2016-03-21 10:12] charanjeet5ingh opened #137 "not working with laravel 5.2"
cart is not working with laravel 5.2, all the data loss when I refresh the page, Please tell the solution for this.

[2016-03-21 10:29] Crinsane commented on #137
Wrap your routes in the web middleware

[2016-03-21 10:29] #137 closed

[2016-03-21 10:40] charanjeet5ingh commented on #137
i used it but it is giving TokenMismatchException error please help me with that

[2016-03-21 11:09] Crinsane commented on #137
That exception has nothing to do with the package. Probably you're not sending through the csrf token from the place where you add an item to the cart.

[2016-03-21 11:10] charanjeet5ingh commented on #137
yeah thank you by the way it worked like charm thank for you help sir

[2016-04-07 20:13] Soufraz opened #140 "Why I cant change subtotal from update method?"
When I tried to update the subtotal from update method, the setted value in update method is overriding.
Cause in the method updateRow() inside Shoppingcart/Cart.php, after the foreach, there is an if that recalculates the value of subtotal with quantity * price.
But, if I need change de subtotal after apply some discount per item? What I need to do?
I think that, if I am trying to change de subto

[2016-04-11 20:54] henriquebremenkanp commented on #76
@Crinsane Do you have plans to merge these PRs?
If not, how can we help to solve this issue?

[2016-04-18 13:22] shahin88 opened #141 "Non-static method Gloudemans\Shoppingcart\Cart::add()"
Non-static method Gloudemans\Shoppingcart\Cart::add() should not be called statically, assuming $this from incompatible context

Im using laravel 5.1 ; there i dont find any static method.
Please help !!

[2016-04-18 17:34] Crinsane commented on #141
You should call the `add()` method on the facade, not on the actual class.

[2016-04-18 17:34] #141 closed

[2016-04-28 08:26] Payetus opened #142 "[Question] I assume the cart and it's products are saved through the session driver, am I correct?"
BTW love this package @Crinsane

[2016-05-04 23:40] saeed7m opened #143 "save cart item(items) for auth users for few days( in db) and for guests in session"
how can I save items in db when users login, and show the cart items if they login from another pc ?

[2016-05-05 14:13] raylight75 commented on #143
I have same question is it posible and how.

[2016-05-05 14:14] lukepolo commented on #143
Just serialize the cart when it is unserialized it should be able to be
loaded back into the cart.

On Thursday, May 5, 2016, raylight75 <notifications@github.com> wrote:

[2016-05-05 14:16] raylight75 commented on #143
Some short basic example

[2016-05-05 14:18] lukepolo commented on #143
I actually dont use this package, I just listen for what's going on to improve my own cart package, since this seems to be mostly dead.

This is natively built into mine https://github.com/lukepolo/laracart.

Look at this piece of code to see how I did it in mine if you want to replicate it here

https://github.com/lukepolo/laracart/blob/master/src/LaraCart.php#L90

[2016-05-05 14:26] raylight75 commented on #143
Thanks lukepolo

[2016-05-12 08:28] Crinsane commented on #143
@saeed7m @raylight75 @lukepolo Update was long overdue, but the current master branch holds the code for the new version where a `store()` and `restore()` method are added. If you feel like it, give it a try.

[2016-05-12 08:29] Crinsane commented on #142
Yes they are, new version (current master branch) will also add the possibility to save the cart in the database for later reusages.

[2016-05-12 08:29] #142 closed

[2016-05-12 08:33] Crinsane commented on #135
Think this is an issue with your code.

[2016-05-12 08:33] #135 closed

[2016-05-12 08:34] #143 closed

[2016-05-12 08:34] Crinsane commented on #134
You're welcome!

[2016-05-12 08:34] #134 closed

[2016-05-12 08:35] Crinsane commented on #130
New version has a way to format the output of subtotal, total etc.

[2016-05-12 08:35] #130 closed

[2016-05-12 08:35] #132 closed

[2016-05-12 08:35] #120 closed

[2016-05-12 08:35] #125 closed

[2016-05-12 08:36] #96 closed

[2016-05-12 08:37] #140 closed

[2016-05-12 08:38] #87 closed

[2016-05-12 08:38] Crinsane commented on #131
Feel free to create a pull request

[2016-05-12 08:38] #131 closed

[2016-05-12 08:38] #56 closed

[2016-05-12 08:39] Crinsane commented on #76
Long overdue, but this issue is fixed in the next release. Current version is in the master branch, will be tagged soon.

[2016-05-12 08:39] #76 closed

[2016-05-12 08:39] Crinsane commented on #69
Tax is integrated in the new version which is currently in the master branch.

[2016-05-12 08:39] #69 closed

[2016-05-12 08:40] #124 closed

[2016-05-12 08:40] Crinsane commented on #86
Done!

[2016-05-12 08:40] #86 closed

[2016-05-12 08:40] #82 closed

[2016-05-12 08:40] Crinsane commented on #60
Added in new release.

[2016-05-12 08:40] #60 closed

[2016-05-12 08:41] #68 closed

[2016-05-12 08:41] Crinsane commented on #66
Fixed in new version.

[2016-05-12 08:41] #66 closed

[2016-05-12 12:54] Soufraz commented on #140
Why closed? @Crinsane

[2016-05-12 13:05] Crinsane commented on #140
Sorry, forgot to comment. I've done a majpr rewrite which makes subtotal a calculated field, so it can't be set either way. Also, adding discount to a product is a feature that will be implemented in the next commit.

[2016-05-12 18:37] permatis opened #145 "Search always return false."
when I wanted to make searching to get RowID always return false.
[code]
always show `false`, but if ` $request->get('id')` change with 1 show `true`.
And then i change `search` function in `CartRowCollection` class for comparison with == conditional or use `strcmp` function.

[code]
Its work.

[2016-05-12 18:40] Crinsane commented on #145
Problem seems to be with the type difference (string vs int).
In the next release this shouldn't be a problem anymore.

[2016-05-12 18:40] #145 closed

[2016-05-12 18:59] ChadTaljaardt commented on #145
when is the next release scheduled?

[2016-05-12 19:04] Crinsane commented on #145
Aiming for next week

[2016-05-15 04:49] zambranoher opened #146 "There is no Facades Folder so it can´t be added to app.php"
just like te title says with the new update the Facades folder dissappears, then how i can reference the Cart Facade in the config/app.php array

[2016-05-15 08:01] Crinsane commented on #146
Yep, will add it back in the next commit.

[2016-05-18 13:05] rakibabu opened #147 "Facade class disappeared"
In the new dev-master version the Facade class is gone.

[2016-05-18 13:06] #147 closed

[2016-05-19 13:24] Crinsane commented on #146
Fixed by 83fefc2180829e6d460d2a00b539bc021a2f546c

[2016-05-19 13:24] #146 closed

[2016-05-23 12:54] leamasuero commented on #120
@David-Kurniawan  @Crinsane , I'm facing the same problem ( Laravel Framework version 5.2.29): cart is empty on every request. Session is not working as expected. On the other hand, "web" middleware is enabled by default on laravel 5.2:
https://laravel.com/docs/master/middleware#middleware-groups

[2016-05-23 13:26] leamasuero commented on #120
LaravelShoppingCart **is working ok**. The problem was related to the way Laravel is handling the session:

http://stackoverflow.com/questions/29346743/laravel-5-session-doesnt-work

[2016-05-28 00:48] RileyDavidson opened #151 "Not fully updated yet?"
I installed using composer as said, but the new features (such as Tax and Subtotal) don't exist. Did I make a mistake when setting it up or has the second version not been officially released yet?

[2016-05-28 08:35] Crinsane commented on #151
For now you'll have to use dev-master for version 2. Will tag it probably today or tomorrow.

[2016-05-28 08:35] #151 closed

[2016-05-30 11:35] andersonmadeira opened #152 "Error using Cart"
Whenever I try to use Cart facade, I get the following error:

ReflectionException in Container.php line 741:
Class cart does not exist

in Container.php line 741
at ReflectionClass->__construct('cart') in Container.php line 741
at Container->build('cart', array()) in Container.php line 631
at Container->make('cart', array()) in Application.php line 674
at Application->make('cart') in Container.ph

[2016-05-30 19:26] ChadTaljaardt commented on #152
have you added the 'use Cart;' at the top?

[2016-05-31 05:42] Crinsane commented on #152
Which version are you on?

[2016-05-31 09:45] andersonmadeira commented on #152
Yes, i added "use Cart;". Version 1.3
Em 31 de mai de 2016 02:43, "Rob Gloudemans" <notifications@github.com>
escreveu:

[2016-06-01 10:08] rap2hpoutre commented on #151
👍

[2016-06-02 18:10] Grukdon opened #153 "Cannot add zero price."
Not sure if this is by design, but I cannot add an item with a price of 0.00 (or any form of zero) since the update.

In the constructor of CartItem.php
"if(empty(0.00)..." is evaluated to true, throwing the InvalidArgumentException.

So no freebies?

[2016-06-02 21:20] Crinsane commented on #153
Feel free to send a PR. 🙂

[2016-06-05 20:37] atwright147 opened #155 "Missing argument 2 for Gloudemans\Shoppingcart\Cart::associate()"
Hi,

I just upgraded from Laravel 5.0 to 5.1 and I am now experiencing the following issue:

in Cart.php line 300

[code]

My code looks like this:

[code]

The `Upload` model does exist and does seem to be working in other areas of my app.

Any help greatly appreciated :)

[2016-06-06 05:50] Crinsane commented on #155
Check your composer version constraint, it's probably on `dev-master`. Change it to `^1.3`.

[2016-06-06 05:50] #155 closed

[2016-06-06 14:06] leamasuero commented on #151
Hello @Crinsane . Any update on this? I'm using this cart and I need to use taxes features. I expect to require a new version instead of working with de dev-master one. Thanks!

[2016-06-10 14:42] MrLenh opened #156 "FatalThrowableError in HomeController.php line 50: Class 'Cart' not found"
Hello,
After apply LaravelShoppingcart, i am facing the bug: Class 'Cart' not found
I used laravel 5.2.
my function:
use App\Http\Requests;
use Illuminate\Http\Request;
use DB;
use Mail;
use Cart;

public function AddToCart($id)
    {
        $product_buy = DB::table('Products')->where('id',$id)->first();
        Cart::add(['id'=>$id, 'name'=>$product_buy->name,'qty'=>1,'price'=>$product_buy->pric

[2016-06-10 16:06] MrLenh commented on #133
I'm facing this issue too, did you fix it?

[2016-06-14 09:09] rap2hpoutre opened #157 "Realease please"
Using master in production is too dangerous ;) Any release date?

[2016-06-15 08:01] Crinsane commented on #153
Merged

[2016-06-15 08:01] #153 closed

[2016-06-15 08:02] Crinsane commented on #157
Version 2 is released

[2016-06-15 08:02] #157 closed

[2016-06-15 08:05] SumonMSelim commented on #156
Can you provide some more info like have you added the Service Provider on your config/app.php file and installed the package correctly or not?

[2016-06-15 08:54] rap2hpoutre commented on #157
Thank you ! 😃

[2016-06-15 15:15] Mastergalen commented on #157
Is there a changelog?

Are there any breaking changes?

[2016-06-15 16:11] Crinsane commented on #157
No and yes. 😉 I will do my best to create a changelog and update the docs asap!

[2016-06-15 18:15] Mastergalen commented on #157
Awesome, much appreciated

[2016-06-17 20:05] santoshachari opened #158 "Instructions for using Buyable and Tax configurations are missing"
Hey @Crinsane ,

Thanks for this extension. Just wanted to update that how to use Buyable Interface and setting Taxes isn't clear from the instructions. Can add more to it when you find time? Thanks!

Also I notice that you have code for restoring the cart from database. Nice!. :). How to implement that?

[2016-06-18 19:37] mucyomiller commented on #156
Cart facade in not working in laravel 5.2

[2016-06-18 19:38] mucyomiller commented on #156
I can't also find out  how to publish that default migration built into ShoppingcartServiceProvider and config/Ccart.php

[2016-06-18 19:46] mucyomiller commented on #152
@Crinsane it's in laravel v5.2.39 actually latest i don't where bug originated by whenever you try to use Cart facade in your controller it's throw FatalErrorException  Class 'Cart' not found even if we have added use Cart;

[2016-06-19 09:47] Crinsane commented on #156
I can't reproduce this, tried several times, but I experience no such problems.

1. I create a new Laravel 5.2 installation `laravel new shop-test`
2. Include the package `composer require gloudemans/shoppingcart`
3. Add the service provider to the `providers` array in `config/app.php`:
       `Gloudemans\Shoppingcart\ShoppingcartServiceProvider::class,`
4. Add the facade alias to the `aliases` ar

[2016-06-19 09:47] #156 closed

[2016-06-19 09:49] Crinsane commented on #152
Can't reproduce, seems to work perfectly fine, so must be something in your app

https://github.com/Crinsane/LaravelShoppingcart/issues/156#issuecomment-226988559

[2016-06-19 09:49] #152 closed

[2016-06-19 09:51] Crinsane commented on #158
Hi @santoshachari,

Documentation is indeed not yet up to date with the current version, will try to update asap.
For now, for the restoring functionality, have a look at the test file, methods:

it_can_store_the_cart_in_a_database
it_can_restore_a_cart_from_the_database

[2016-06-19 09:51] #158 closed

[2016-06-19 10:24] mucyomiller commented on #152
@Crinsane  i found that this error on our project is caused by forgeting to clear old cached configuration
whenever any other person meet this error be sure to clear old config cache
php artisan config:cache or register this package serviceprovider straight in routes.php
App::register('Gloudemans\Shoppingcart\ShoppingcartServiceProvider'');

[2016-06-19 10:27] mucyomiller commented on #156
its working perfectly its was our projects that was using old cached configuration

[2016-06-20 13:00] franklinfs commented on #141
use Cart;

[2016-06-20 19:57] garrensweet opened #159 "Cart::search documentation out of date with 2.0.2"
We've recently updated from 1.2 to 2.0.2 and have noticed there are some significant changes (and improvements +1), however, we've noticed the documentation is a bit off.

For instance, the `Cart::search` example shows you passing in an array, but you've changed it in 2.0.2 to use a `Closure` instead:

    public function search(Closure $search)

This results in errors because previously (and acco

[2016-06-20 20:15] garrensweet opened #160 "Cart::search function consistency in 2.0.2"
In 2.0.2, the cart has moved to use the `Illuminate\Support\Collection` factory, which is great!

The problem is that the `search` function is not reliable in it's return:

    if($found->count() === 1) return $found->first();

    return $found;

What happens is that we either get an instance of `CartItem` or we get an instance of `Illuminate\Support\Collection`. Due to this, we have to check the

[2016-06-21 06:14] Crinsane commented on #159
Yes you're totally correct, the documentation is out of date. Please feel free to submit a PR to update the documentation!

[2016-06-21 06:15] Crinsane commented on #160
Hmm yes, I get what you mean. This might indeed be better... Feel free to submit a PR so I can push the change for the next tag.

[2016-06-21 06:15] #160 closed

[2016-06-22 17:11] gauravojha opened #163 "Wiki needs missing info"
Hi,

Good software is rendered hard to use without sufficient info on it.
In your readme or the wiki, nowhere could I find some of the most obvious questions I have:
1. is this cart session safe? that is the items are preserved throughout one session?
2. is this cart user safe? (if it is session safe, then it is user safe I guess)
3. if the cart is not session or user safe, what happens if two dif

[2016-06-22 20:53] mattusik opened #164 "Total Price with TAX issue"
Hi, I run into issue with prices and Tax.

Correct me If I'm wrong, I'm adding product into Cart with price without Tax, like this:
`Cart::add($product->id, $product->name, 1, $product->price, $options);`

All of vars `CartItem::subtotal` total price without Tax, `CartItem::price` price without Tax for 1 product and `CartItem::tax` total Tax value  (I'm just missing `CartItem::total` for total pri

[2016-06-23 01:14] Jeemusu commented on #163
1. The cart is preserved throughout the session. Obviously this will depend on how your session is set up in Laravel and the session driver you are using.
2. Yes
3. See 1 + 2.
4 : Could you describe a use case for automatically adding the id?

[2016-06-23 05:53] gauravojha commented on #163
@Jeemusu

From what I perceived (I may be wrong though), to add an item to cart, the "id" has to be passed as the first argument right? So what is this id? I mean if a user clicks on say "Add to Cart" for a prodcut with product id 2, so will this id=2 be passed as the first argument? I mean it is a fault on my end, but I am unable to clearly understand what this id is :(

[2016-06-23 05:55] Crinsane commented on #163
@gauravojha The id is just the "identifier" you use in your application to identify the product that you add to the cart. Could be a simple integer id, could be a uuid, it really doesn't matter, as long as it's the unique "identifier" you use to identify the product.

[2016-06-23 05:55] #163 closed

[2016-06-23 05:56] Crinsane commented on #163
The other questions are correctly answered by @Jeemusu. This package uses the session component of Laravel.

[2016-06-23 06:23] Crinsane commented on #164
What I think the problem is, is this. You're expecting the `price` attribute of a CartItem to be the price without tax, where the packages uses the `price` as the price of an CartItem with the tax.

So when you do `Cart::add('123abc', 'My Product', 1, 10.00);` You're adding an item to the cart that has a price of 10.00 for the customer. Say the taxrate is 21%, this means that 2.10 of this price is

[2016-06-23 08:47] mattusik commented on #164
Ok, then. So, your calculation of tax for CartItem is wrong, you can't calculate tax from **price with tax** in way like you're doing it.

Let's say that price with tax is 10, like you said before.

Then your tax calculation `$this->price * ($this->taxRate / 100);` returned tax = 1.9, which is completely wrong because price without tax by you is now `10 - 1.9 = 8.1`

I updated tax calculation to t

[2016-06-23 08:49] Crinsane commented on #164
Hmm... I think you're correct indeed, there is something wrong. I'll reopen this and lets see how we can fix this :)

[2016-06-23 08:55] Crinsane commented on #164
Could you send a pull request with the update? I indeed made a mistake in my calculations... stupid...

[2016-06-23 18:48] gauravojha commented on #163
@Crinsane
Thank you very much. Just one last thing. If this uses the session component, then if my session.php has a 'lifetime' of 120 minutes, so does that mean that once the user logs out, the cart will hold the items only for 120 minutes, and after that will destroy the cart, since the session exists no more?

[2016-06-23 20:11] spacedyevest opened #166 "Can not calculate the numbers above 1000"
Hi, I run into issue with tax

Here is my code.

$tax = Cart::tax();
$cart_total = Cart::total();
$a = ($cart_total+$tax);

The result of $a is total price in cart plus $tax (I set tax = 3 in .../config/cart.php) and it work fine with number under 1000 but if the number is above or equal 1000 it run into issue.

e.g.
Total price is 100 the result of $a is 3 that is correct.
Total price is 1000 the

[2016-06-23 21:09] gauravojha commented on #166
Are you sure you are adding the items correctly? I wrote a simple code like

`   public function addToCart(Request $request, Product $product)
    {
        $this->validate($request, [
            'inputLength' => 'required|numeric|min:1',
        ]);
        $contentOld = Cart::content();
        Debugbar::info($contentOld);
        Cart::destroy();
        Cart::add(['id'=>1, 'name'=>"Test", 'qt

[2016-06-24 06:29] spacedyevest commented on #166
Here is my full code

[code]
Even if I use this code.

[code]

The result of $newtotal work fine with 1-999 but if it 1000 or more the result is 0.03.

[2016-06-24 06:40] Crinsane commented on #166
I think there is something wrong with your code, because when I test this out like this:

[code]

Everything checks out and the test passes.

[2016-06-24 06:40] #166 closed

[2016-06-24 06:41] Crinsane commented on #164
Fixed by #165

[2016-06-24 06:41] #164 closed

[2016-06-24 08:26] gauravojha commented on #163
I am reopening this issue. I have two sample users. I added an item using one of the users. Logged out. Then I logged in using the second user account. I can still view the items in the shopping cart. And I am pretty sure that both the accounts are different, as one is an account having admin privileges and the other is not.

[2016-06-24 08:28] gauravojha opened #167 "Cart is not user safe"
I am reopening this issue. I have two sample users. I added an item using one of the users. Logged out. Then I logged in using the second user account. I can still view the items in the shopping cart. And I am pretty sure that both the accounts are different, as one is an account having admin privileges and the other is not.

[2016-06-24 10:13] Crinsane commented on #167
I'll look into this later. But for now the best way to make a cart (the session) specific for a given user, is use a custom instance. So for instance try something like: `Cart::instance(auth()->id())->add(...);`

[2016-06-24 10:15] Crinsane commented on #167
The other option would indeed be to clear the cart session when the user logs out.

[2016-06-24 19:16] mikimaine opened #168 "how can the cart be available in another page"
after i add item to the cart , it is available in that page but not available in another page.

For example if i add one product to the cart and the i wanna see what products are inside the cart it says there is no item in the product .....

how can i solve this, or am i missing something?

[2016-06-25 12:48] gauravojha commented on #168
By another page do you mean a blade?

Inside any blade, you can use something like {{ Cart::content()->count() }} to view the contents. The example I provide for example, shows the no. of items in the cart

[2016-06-25 13:38] mikimaine commented on #168
i mean when i add to the cart i used this
[code]
it shows me the product i have added but when i go to another controller method and do
` dd(Cart::content());  `
it shows that the cart is empty  when i do this in blade  {{ Cart::content()->count() }}  it shows 0

in general the cart is only available in the added method at one time only .....
i guess the cart is not stored in the session.

[2016-06-25 18:41] Crinsane commented on #168
It's the `dd()` method. This prevent the Laravel session to be written

[2016-06-25 18:41] #168 closed

[2016-06-27 14:41] joaomisturini opened #169 "Problems with Cart::associate()"
Hello!

I'm trying to associate a model to a cart item like this:
`Cart::associate('Produtos', 'App')->add(...);`

However, the associate method throws an InvalidRowIDException, with the message "The cart does not contain rowId Produtos."

Is this a bug? Or I'm doing something wrong in my code?

[2016-06-28 06:04] Crinsane commented on #169
Which version are you on?

[2016-06-28 11:21] joaomisturini commented on #169
I'm on version 2.0

[2016-06-28 11:34] Crinsane commented on #169
Okay, that sorry on my behalf, the documentation must be updated. In v2.0 the functionality was changes. You can either associate a model to the cartitem by making the model implement Buyable and use the model to add the item `Cart::add(Product::find(1), 1);` Or you can use the associate method where you first specify the rowId of the item and then the full FQN of the model, so something like:

[c

[2016-06-28 11:34] #169 closed

[2016-06-29 13:20] salvisb commented on #7
How about cart expiration time? After how long session is expired, it can be configured?

[2016-06-29 13:35] salvisb opened #170 "Cart / Session expiration"
Hello!
Is it possible to configure session expiration and if it expires at all?

[2016-06-29 17:24] dipit2007 opened #171 "copy between two cart instances"
Hi, I want to copy cart item from wishlist instance to actual cart instance.  Please help me.

Cart::instance('wishlist');

$rowId = $request->input('rowid');

$item = Cart::get($rowId);

Cart::remove($rowId);

Cart::instance('cart');

Cart::add($item,1);

But its not working. Whats wrong in above code?

[2016-06-30 08:50] memoadian opened #172 "Problem with options when add item"
Hi, I have a problem when add item in cart

[code]

all variables, contains values, but when i get the content with Cart::content()

return this.

`{"948cb53c201bad627e7d0686e0932068":{"rowId":"948cb53c201bad627e7d0686e0932068","id":"1","name":"Pipa de agua recta","qty":"1","price":90,"tax":18.9,"subtotal":90}}`

JSON does not return options key.

I don't understand why.

Thank you

[2016-06-30 09:03] memoadian commented on #172
Update, the problem appears only from version 2.0.2 or later.

[2016-06-30 10:54] lagask opened #173 "Problem when associating with model"
i tried

Cart::associate('Product')->add('293ad', 'Product 1', 1, 9.99, array('size' => 'large'));
here error: **Missing argument 2 for Gloudemans\Shoppingcart\Cart::associate()**
though documentation said second argument is optional

Cart::associate('Product','App\Models')->add('293ad', 'Product 1', 1, 9.99, array('size' => 'large'));
and
Cart::associate('App\Models','Product')->add('293ad', 'Pro

[2016-06-30 11:15] djaca commented on #173
Try Cart::add('293ad', 'Product 1', 1, 9.99, array('size' => 'large'))->associate('Product','App\Models');

[2016-06-30 13:00] lagask commented on #173
Thanks for the reply.
I tried what you've suggested in the following code
        Cart::instance('cart')->add('15', 'Product 1', 1, 9.99, array('size' => 'large'))->associate('Product','App\Models');

         $cart =  Cart::instance('cart');
         // dd($cart->content());
         foreach($cart->content() as $x){
            echo $x->product->name;
         }

I get the following error

Trying

[2016-06-30 13:41] Crinsane commented on #173
https://github.com/Crinsane/LaravelShoppingcart/issues/169

[2016-06-30 13:41] #173 closed

[2016-06-30 13:44] Crinsane commented on #172
Should be fixed by 0c3c859b6c8b55d6cd6be118cb96bc0c8f37063c

[2016-06-30 13:44] #172 closed

[2016-06-30 15:28] raylight75 commented on #167
Yes it wiil by nice to look into this i have abs.same problem.

[2016-06-30 16:26] lagask commented on #173
$cartItem = Cart::add('17', 'Product1', 1, 10.00);
        Cart::associate($cartItem->rowId, \App\Models\Product::class);

         foreach(Cart::content() as $x){
            echo $x->product->name;
         }

still getting: Trying to get property of non-object

when i dump the cart i get

Collection {#282 ▼
  #items: array:2 [▼
    "693a016600c28ef6002d156c729881ea" => CartItem {#283 ▼
      +r

[2016-06-30 16:28] lagask commented on #173
what is wrong with my code. or there is other ways to access the associated model other than what I did on the foreach loop?

[2016-06-30 16:49] djaca commented on #173
Instead echo $x->product->name; try echo $x->model->name;

[2016-06-30 18:00] gauravojha commented on #170
@salvisb
You can configure session expiration in your laravel projects, and yes sessions do expire. I may be wrong, but the default configuration has a timeout of about 2 hours I guess.

[2016-06-30 18:03] lagask commented on #173
thank you guys. [ Crinsane, djaca]
  **$->model->name;** solved the null object error.

[2016-06-30 18:03] gauravojha commented on #167
@Crinsane
Thanks for the tip.I ended up creating my own small shopping cart implementation using Eloquent databases instead of using Sessions. Persistence served my purpose. Your tip was working, but I didnt want any user to lose the items they added to their cart if they didnt check out immediately.

[2016-06-30 18:52] raylight75 commented on #167
Ok but this with instance is working fine,i just have doubt thath this is right method.

[2016-07-03 09:01] raylight75 commented on #167
This is the way how i did it. I'm defining 2 listeners in EventServiceProvider
       'auth.login' => [
            'App\Listeners\RestoreCartOnLogin',
        ],
        'auth.logout' => [
            'App\Listeners\StoreCartOnLogout',
        ],
then 2 listeners. one with method Cart::store(auth()->id());, other Cart::restore(auth()->id());.Everythink work like charm.
You need Cart::instance(aut

[2016-07-03 11:24] yourking opened #176 "Cart::search() must be an instance of Closure, array given"
So what I understand you can't search with an array parameter like it said in the example?

[2016-07-03 11:33] Crinsane commented on #176
No, the documentation is out of date. You will have to pass the search method a closure, just like the search method on a regular Collection

[2016-07-03 11:33] #176 closed

[2016-07-03 11:55] yourking commented on #176
Yes, i found it. Thank you

[2016-07-05 11:29] tapos007 opened #177 "how to user find method"
new version find can not work please suggest me how it will be used

[2016-07-06 00:55] mateusjatenee commented on #177
Do you mean the `search` method? You have to pass a closure.

[2016-07-06 00:56] mateusjatenee commented on #177
@tapos007 https://laravel.com/docs/5.1/collections#method-search

[2016-07-08 08:41] stocksph commented on #176
just wondering how to pass the search method a closure?
as ive been stuck on the cart search method and it gives me an error "must be an instance of Closure, array given,"

any help is highly appreciated.

[2016-07-08 09:03] stocksph opened #179 "how to pass the search method a closure?"
just wondering how to pass the search method a closure?
as ive been stuck on the cart search method and it gives me an error "must be an instance of Closure, array given,"

any help is highly appreciated.

[2016-07-08 10:08] stocksph opened #180 "search() must be an instance of Closure"
I have this code to delete an item

$rowId = Cart::search(array('id' => Request::get('product_id')));
Cart::remove($rowId[0]);

but it gives me this error

"Argument 1 passed to Gloudemans\Shoppingcart\Cart::search() must be an instance of Closure, array given, called in "

the code of deleting an item is not working, can someone guide or post it here the proper code to delete an item from the car

[2016-07-09 13:20] djaca commented on #180
Are you using button or form to remove item from cart content?

[2016-07-13 12:40] santoshachari opened #181 "Model association not working as expected"
I see that the when we use `associate` method, it throws an error for missing second argument. The method does work when we associate to a cartItem:

[code]

However the following doesn't work:
[code]

[2016-07-13 19:01] djaca commented on #181
Try namespace for second argument...

[2016-07-14 08:02] Crinsane commented on #181
Which version are you using? I've updated the documentation for version 2, so please review it to see if anything has changed for you.

[2016-07-14 08:02] #181 closed

[2016-07-14 08:02] Crinsane commented on #180
@stocksph I've updated the documentation for version 2. Please review it and see if this will clear things up for you.

[2016-07-14 08:02] #180 closed

[2016-07-14 08:02] Crinsane commented on #179
@stocksph I've updated the documentation for version 2. Please review it and see if this will clear things up for you.

[2016-07-14 08:02] #179 closed

[2016-07-14 08:03] Crinsane commented on #177
@tapos007 I've updated the documentation for version 2. Please review it and see if this will clear things up for you.

[2016-07-14 08:03] #177 closed

[2016-07-14 08:03] Crinsane commented on #159
Documentation has been updated!

[2016-07-14 08:03] #159 closed

[2016-07-14 18:49] tapos007 commented on #177
thanks Crinsane

[2016-07-15 00:19] stocksph commented on #180
@Crinsane Hi, thanks for responding to my concern. I was wondering where to find the documentation of version 2?

Looking forward to hear from you soon.

[2016-07-17 13:06] Valonix opened #182 "Non-static method Gloudemans\Shoppingcart\Cart::add() should not be called statically"
Just started with your package.
From readme
Cart::add('293ad', 'Product 1', 1, 9.99);

[code]

where i am wrong ? Thanks.

[2016-07-17 17:52] absemetov opened #183 "Config tax"
Hello!
How to set tax=0?
Config file not generate.

[2016-07-17 18:29] djaca commented on #183
Try to create manually...

cart.php
[code]

[2016-07-17 18:36] absemetov commented on #183
I create this file, in /config dir.

[2016-07-17 19:29] absemetov commented on #183
Works fine, I readded Item, tax update

[2016-07-17 19:56] filipveschool commented on #183
http://packalyst.com/packages/package/lutforrahman/ilacart

http://packalyst.com/packages/package/bnet/laravel-cart

Based or Built on the crinsane/shoppingcart package. These work also very good

[2016-07-17 19:59] absemetov commented on #183
thanks

[2016-07-17 19:59] #183 closed

[2016-07-17 20:06] Crinsane commented on #182
You're using the cart class instead of the facade. Change the use statement to the facade

[2016-07-17 20:06] #182 closed

[2016-07-17 20:08] Valonix commented on #182
oops, ok thanks :)
also if i am there, is that good idea to use your plugin with Angular on front side?

[2016-07-17 20:08] Crinsane commented on #182
use Gloudemans\Shoppingcart\Facades\Cart;

[2016-07-17 20:08] Crinsane commented on #182
Ofcourse you can use it with Angular

[2016-07-17 20:10] Valonix commented on #182
ok, thanks tomorrow i will continue.

[2016-07-17 20:18] Valonix commented on #182
Route::post('/cart/add/{id}', 'CartController@add');

[2016-07-18 13:11] axejane opened #184 "Only 9 product in shopping cart"
The shopping cart could not add more 9 product in once order.

[2016-07-19 06:05] Crinsane commented on #184
What do you mean with "could not"? Error message? Stack trace? etc.
I can't reproduce this error.

[2016-07-19 06:05] #184 closed

[2016-07-19 20:55] vozohori commented on #167
@Crinsane
Is there any method of the Cart class which can be used to save all the cart items in a database?
Best Regards
Vozo

[2016-07-20 10:03] Valonix commented on #182
Maybe you can help me, which way is correct. Create some .factory('Cart') and after for example i press Add to cart product - send to backend and save this information in Angular Cookies? And in "routeChangeEvent" checking cookies + backend or how? Do i need use cookies on frontend side? :)
Thanks.

[2016-07-20 11:04] Crinsane commented on #182
I'm not that familiar with Angular, so I can help you, sorry!

[2016-07-23 10:55] DhanapalMadheswaran commented on #111
i m getting
Call to undefined method Gloudemans\Shoppingcart\Cart::total()
like this
what is the issue?

[2016-07-23 10:58] Crinsane commented on #111
Please create a new issue with a code sample

[2016-07-23 11:31] DhanapalMadheswaran commented on #111
${{ Cart::total() }}

i put like this only
but it getting
 Call to undefined method Gloudemans\Shoppingcart\Cart::total() error:
/////Service Providers.../
Gloudemans\Shoppingcart\ShoppingcartServiceProvider::class

///Class Aliases////////////
'Cart' => Gloudemans\Shoppingcart\Facades\Cart::class,

//////////composer //////////
"gloudemans/shoppingcart": "~1.3"

[2016-07-23 14:52] Crinsane commented on #111
Please create a new issue.

[2016-07-26 21:44] MicroDreamIT commented on #36
@Crinsane  cart remove is not working properly, http://46.101.177.93/cart,
in here two plan or  two can not co-exist. i dont know why this is happening....

[2016-07-28 00:27] blenderdeluxe opened #185 "Problem to update item qty in instance"
Hi everyone I have a problem with update cart instance I have two instance

[code]

All it is fine but when I try to update a item in instance reservations this return exception
The cart does not contain rowId 9e6f03ab1c6bb1227b92db5a945c817d.

But I go to Cart.php in vendor folder nand in line 181 in the function get() I modify for know what happend here so I add a dd() for show actual rowId that

[2016-07-28 17:16] matbeard commented on #171
`Cart::add()` expects an array, but `Cart::get()` returns an object (with any options as a nested object), so you can't use it to add an item. Where you're currently attempting `Cart::add($item,1);` you should try something like:

`Cart::add($item->id, $item->name, $item->qty, $item->price, (array)$item->options)`

[2016-07-28 17:50] user5885 opened #186 "Copy items to another cart"
I have a guest cart instance identified by the session ID.
`$guestcart = Cart::instance(Session::getId());`

The second cart is initialized when the user is registered and logged in. I need to transfer the items from the guestcart to the user cart

     `$cart = Cart::instance(666);
         foreach($guestcart->content() as $x){
             $cart->add($x->id, $x->name, $x->qty, $x->price);

[2016-07-28 21:43] user5885 commented on #186
Whatever I solved my issue doing:
`foreach(Cart::instance(Session::getId())->content() as $x)
              {
                  Cart::instance($user->id)->add($x->id, $x->name, $x->qty, $x->price);
              }`
some weird stuff was happening storing the instances into variables.

[2016-07-28 21:46] #186 closed

[2016-07-29 06:13] dipit2007 commented on #171
Thanks a lot.

[2016-07-29 06:13] #171 closed

[2016-07-29 15:52] Dzoni45 opened #188 "Cart total"
Cart total function return string value insted of float, because number format function in Cart facade return string. Please fix it.

[2016-07-29 16:25] matbeard opened #189 "Buyable interface"
Great bit of work with LaravelShoppingcart! I'm interested in implementing the Buyable interface on my product Model. Can you please provide some pointers on how to do this?

Thanks

[2016-07-29 19:07] mateusjatenee commented on #189
`class Product implements Buyable`

[2016-07-30 21:36] Crinsane commented on #189
See above

[2016-07-30 21:36] #189 closed

[2016-07-31 02:30] agyto opened #191 "Undefined Variable on Cart::search()"
it's turn error when i declare a variable before use Cart::search() method,

[code]

i try use passing method by filter() on Laravel, but same result

[code]

[2016-07-31 10:51] Crinsane commented on #191
That's because the $var is set in another scope. Look at the php documentation, you'll have to add a 'use' keyword to add the variable to the scope of the closure.

[2016-07-31 10:51] #191 closed

[2016-07-31 17:07] Valonix commented on #183
I can`t undestand where i need to edit tax to 0. Can you help me?

[2016-07-31 17:16] filipveschool opened #192 "Multiple taxes"
Hi,

I was wondering if  it is possible to Use multiple tax values?

Because in my country (Belgium) for example,

You have tax for books and different tax for pc's just an example.

Is this possible? Also is iT possible to configure taxes per country?

[2016-08-01 03:54] RichardOey opened #193 "Can I get the count of many items from different Cart::instance ?"
how can i get all counts of the items from many instances ?
For example,
I have to instance
Cart::instance('shop_id_7')->count()
Cart::instance('shop_id_8')->count()

but i should count it automatically and I can't write the name of the instance because i will get the instances name from database

[2016-08-01 06:03] Crinsane commented on #193
Only way to do this currently is just loop over all instances and add the counts of all instance together.

[2016-08-01 06:03] #193 closed

[2016-08-01 06:05] Crinsane commented on #192
I believe you can set the tax rate after you added an item to the cart.

`Cart::add($item)->setTaxRate($yourTax);`

[2016-08-01 06:05] #192 closed

[2016-08-01 06:06] Crinsane commented on #188
Fixed

[2016-08-01 06:06] #188 closed

[2016-08-01 06:06] RichardOey commented on #193
Thank u mabro.. I will try
Thank u mabrooo

[2016-08-01 06:08] Crinsane commented on #185
Could you please give me a little smaller example of how I can reproduce this problem? Given a new Laravel installation.

[2016-08-02 08:31] matbeard commented on #189
Err. Thanks, but anyone asking this question is unlikely to know how to deal with half an answer.

I've added `class Product implements Buyable` to my model, and now I get an error saying:
`Class App\Product contains 3 abstract methods and must therefore be declared abstract or implement the remaining methods (Gloudemans\Shoppingcart\Contracts\Buyable::getBuyableIdentifier, Gloudemans\Shoppingcart

[2016-08-02 11:06] ilhamsabar commented on #141
i try use Cart. and i find this eror.. please help. i found same eror

[2016-08-02 13:02] Crinsane commented on #189
@matbeard Sorry if it came across as a harsh answer. Just thought that would be enough information. In the end, if you're using Laravel and doing OO programming, it seems to me it's pretty trivial how to "implement an interface".

But again, didn't mean to sound harsh, and glad you figured it out! Good luck with your website!

[2016-08-02 13:04] Crinsane commented on #141
@ilhamsabar You will have to use the facade, you're trying to call the add method statically on the actual Cart class.

So don't do `use Gloudemans\Shoppingcart\Cart;` but `use Cart;` or `use Gloudemans\Shoppingcart\Facades\Cart;`.

[2016-08-03 10:02] ilhamsabar opened #194 "add items in array."
i want add array in Cart item but not showed.

i try this code.
Cart::add(['id' => $product_id, 'name' => $product->nama_barang, 'qty' => 1, 'price' => $product->harga_barang, 'image' => $product->foto_barang, 'brand' => $product->Brand_produk]);

[2016-08-03 14:35] claudiusnascimento opened #195 "Update Properties"
@Crinsane , Hi!

When a item cart is removed, the Cart instance dont update the $total property.

Ex:

item_1.price == $10;
item_2.price == $10;

total = $20;

Cart::remove(item_1.rowid);

total continues $20.

[2016-08-03 14:57] claudiusnascimento commented on #195
@Crinsane , sorry. I get the kingpabel shopping card version.

Anyway, i fixed the issue puting this methods befere the return in remove() method:

$this->setTotal();
$this->setSubTotal();
 $this->setDiscount();

Can i close the issue or you hava some words?
Thanks

[2016-08-03 16:10] Crinsane commented on #195
Since you're using another version, please contact that repo with the problem.

[2016-08-03 16:10] #195 closed

[2016-08-03 16:13] Crinsane commented on #194
Please supply me with more info, what version are you on, what is the output, did you get an error? etc.

[2016-08-04 09:16] ilhamsabar commented on #194
not showed eror just not showed output this array data

[2016-08-04 09:16] ilhamsabar commented on #194
i want ask again.
how to update qty in array data ?

[2016-08-04 09:53] Crinsane commented on #194
Okay, well, first off, you have attributes in your array that are not supported by the package. `image` and `brand` are keys the package doesn't process.

Next, what do you mean with 'no output'? What are you trying to output, how are you doing this?

I need more information to help you. Just saying "it doesn't do anything" isn't helping.

[2016-08-04 10:11] ilhamsabar commented on #194
ok forget this.
how to update quantity in array ? with ajax.
my code

@foreach($data as $ky => $row)
<select>
<option value=$row->rowid></option>

[2016-08-04 10:12] Crinsane commented on #194
Like the documentation says: `Cart::update($rowId, $newQuantity);`

[2016-08-04 10:12] #194 closed

[2016-08-04 12:12] Wolrab1 opened #196 "Carriage"
Hello,

How would you handle carriage with this shopping cart? carriage will have it's own tax too.

Thanks
Kieran

[2016-08-05 06:21] Crinsane commented on #196
Right now I think this is something that's to app-specific to really include in this package. So it would be something you'll have to implement yourself.

[2016-08-05 06:21] #196 closed

[2016-08-05 10:12] Wolrab1 opened #197 "Model Relation Issue."
I'm using the model relation but I get the following error when trying to output data via the model on the view.

**Add to cart function**
[code]

**Output in my view**

[code]

**I get the error**

I'm using Laravel 5.1

My product model

[code]

[2016-08-05 11:47] Crinsane commented on #197
You must provide to full namespace for the model for the `associate()` method. So in your case: `->associate('App\Product');`

[2016-08-05 11:47] #197 closed

[2016-08-08 06:01] mpash opened #198 "Support for Laravel 5.3?"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework 5.3.x-dev

There seems to be no support for the 5.3 framework. I don't think much has changed in 5.2->5.3 in regards to this package. Is there anyway I can get this to work with 5.3?

Thanks!

[2016-08-08 07:57] Crinsane commented on #198
I'll fix this in the composer.json soon. Thanks for the headsup

[2016-08-08 21:04] mpash commented on #198
Thanks for the update! Let me know if you want me to test it out when you do update to 5.3.

[2016-08-11 23:44] hassanazimi commented on #198
Thank for this nice package it works perfectly. Any easy ideas for handling the request asynchronously ?

[2016-08-13 20:08] ChangePlaces opened #199 "What's the best way of persisting carts?"
Should I  be looking to serialize the cart for each user or should I be wanting to store; the items, and the cart across separate tables?

[2016-08-15 02:23] Jeemusu commented on #199
The way I do it is by storing the cart in a cookie when the user isn't logged in, and in a database table called user_cart (user_id, item_id) when they are logged in. I sync the cookie to the cart when the user logs in, and have listeners for the LaravelShoppingcart triggers which do all the work of updating the database/cookies.

[2016-08-16 00:52] ChangePlaces commented on #199
It's interesting to read you store your cart in a cookie for non-logged in users. That's an idea, but what about people who want to manipulate that cookie? Wouldn't you still want to store the cart in teh database? Maybe with a cart id in the cookie, instead?

[2016-08-21 10:44] vedtam opened #200 "Why have to use foward slash when adding to providers: "\Gloudemans\Sho..." - when namespace is declared without it, inside the composer.json?"
Hi,

I am a bit confused, why do we use forward slash when declaring the provider:

when in the src/composer.json we have it without:

Thanks!
vedtam

[2016-08-21 12:39] Crinsane commented on #200
It's actually not needed, I believe in the past is was the way all service providers where specified, but you can just remove the leading slash, it makes no difference whatsoever.

[2016-08-21 12:39] #200 closed

[2016-08-22 17:45] darylgeyerii commented on #198
@Crinsane any update on the Laravel 5.3 compatibility yet?

[2016-08-26 11:30] ujwaldhakal opened #201 "Identifier after remove"
There are no identifier are remove like true or false after the instance is being deleted from the cart.

[2016-08-26 19:41] MrLenh commented on #170
my cart won't save when redirect to other link
ex:
public function addtocart($id)
    {
        $product = products::find($id);
        //$cate = $product->Pcate;
        Cart::add(array('id'=>$id, 'name'=>$product->name, 'qty'=>1, 'price'=>$product->price, 'options'=>array('alias'=>$product->alias, 'img'=>$product->image, 'promo'=>$product->old_price)));
        //print_r(Cart::content());

[2016-08-29 04:22] mpash commented on #198
@darylgeyerii Support has been added.

[2016-08-30 00:25] lolchaps commented on #198
help please, trying to install on fresh copy laravel 5.3

![cart](https://cloud.githubusercontent.com/assets/7602944/18071800/299ce2a2-6e8b-11e6-9219-abe0bf4a25e2.png)

[2016-08-30 00:27] lolchaps opened #206 "Laravel 5.3 compatibility?"
![cart](https://cloud.githubusercontent.com/assets/7602944/18071870/944738e6-6e8b-11e6-9168-063646a2f0f6.png)

[2016-08-30 00:28] mpash commented on #198
Can you please attach a copy of your `composer.json` file? @lolchaps

[2016-08-30 00:31] #206 closed

[2016-08-30 00:33] lolchaps commented on #198
@mpash
[code]

[2016-08-30 00:40] mpash commented on #198
@lolchaps You'll have to wait for Packagist to accept the changes for this package. Currently it is pulling in the old version that only supports ```illuminate/support: 5.1.*|5.2.*
illuminate/session: 5.1.*|5.2.*
illuminate/events: 5.1.*|5.2.*``` @Crinsane  can you update this? https://packagist.org/packages/gloudemans/shoppingcart

[2016-09-01 12:19] darylgeyerii commented on #198
I am using the following in my composer.json file for now until a new version is released.

"gloudemans/shoppingcart": "dev-master"

[2016-09-01 16:32] mpash commented on #198
@darylgeyerii That's a good quick fix for now. I've tried reaching out on twitter to @Crinsane so we'll just have to wait.

[2016-09-01 16:48] wolle404 commented on #140
@Crinsane is there any progress for this?

[2016-09-01 16:50] wolle404 opened #207 "Discount"
Is there any progress for the implementation of discounts?

[2016-09-02 22:32] closerdesign commented on #207
Hi guys! Can I use it with Laravel 5.3?

[2016-09-02 22:33] closerdesign opened #208 "Laravel 5.3"
Hi guys!

Can I use it with Laravel 5.3?

[2016-09-04 12:08] masumonline commented on #208
yaa i want to know that too

[2016-09-04 12:27] lukepolo commented on #198
I tend to watch other packages that deal with carts, I feel bad for this package for the lack of a timely interaction . This is why I made my own version (with more features IMO) and would not usually do this but a month later this should have been done in 10 minutes, you should take a look at LaraCart.
#207
And suggest @Crinsane to find a maintainer

[2016-09-05 06:27] Crinsane commented on #208
I've just tagged a new release, 2.2.0, which will work for Laravel 5.3

[2016-09-05 06:27] #208 closed

[2016-09-05 06:30] Crinsane commented on #198
Version 2.2.0 has been tagged which will work for Laravel 5.3

@lukepolo Great that you feel you have to promote your own package on here. And great that you have all the time in the world to maintain your packages, good for you! Laravel 5.3 has been for less then 2 weeks, so it can happen that no version for 5.3 has been tagged yet.

[2016-09-05 06:30] #198 closed

[2016-09-05 06:48] Crinsane commented on #201
There is not much to 'identify'. If you pass an invalid/unknown rowid, a exception will be thrown, otherwise, the item is just pulled out of the cart content and discarded. No real need to or way to tell if this was successful, because we can be sure it was.

[2016-09-05 06:48] #201 closed

[2016-09-05 09:13] mpash commented on #198
That's the thing with open source. You just have to be patient. We are all working towards making packages greater for Laravel so I encourage some patience and kindness moving forward.

[2016-09-05 15:49] closerdesign commented on #208
Great! Thanks!

[2016-09-06 06:27] foRsxs opened #210 "Subtotal Decimals"
Hi! I want to remove any  decimals like this Cart::subtotal(0,'','');
before update this worked, but after this return with decimals like 12,590.00

[2016-09-06 18:28] chiennguyen93 opened #212 "How to use search()"
get $rowID from  $id. how?
$cart->search(function ($cartItem, $rowId) {
    return $cartItem->id === 1;
});

[2016-09-06 18:39] Crinsane commented on #212
Exactly, if you want to search for a given id, just do:

[code]

Which will return you an array of rowIds of the result

[2016-09-06 18:39] #212 closed

[2016-09-07 18:44] jorgejavierleon commented on #210
I am working on a pull request to fix this bug. It should be ready today.

The problem is in Cart.php

[code]

It is checking against falsy values when it should be checking for null.

[2016-09-08 15:03] petraeus commented on #173
Instead of using the model name version 2 now allows you to access the model and its relationsips via $x->model

[2016-09-08 15:06] petraeus commented on #207
I would also like to add my support for the idea of implementing discounts in the for of, percentage, fixed value, buy one get one free/discounted, buy x minimum, etc

[2016-09-08 15:08] petraeus commented on #96
You can access relationships via the associated model if that model has the proper HasOne, hasMany etc relations coded into it.

[2016-09-08 16:27] petraeus opened #214 "Remove regeneration of rowId on update"
Closed

[2016-09-11 05:30] pelachile opened #215 "Quantity not updating"
How do I get the rowId of an existing item in a cart? I can't call the update method without the rowId. Without the rowId how can I implement logic to either add an item or update the quantity of an existing item?

Nevermind

[2016-09-11 06:57] #215 closed

[2016-09-12 14:02] browner12 opened #216 "Use A Money Package"
not sure if this issue has been discussed before since I just came across this package, but rather than handling the money and the math internally, I think it would be very beneficial to integrate a money package to handle that instead. I'm sure we're all well aware of the issues you can run into with floats and handling money math.

https://github.com/moneyphp/money seems to be pulling away as th

[2016-09-12 15:54] peterquentin commented on #216
I've done this myself and I believe it solves the configuration issues and
long function calls drastically. Glad to see some attention for this.

Op ma 12 sep. 2016 16:02 schreef Andrew <notifications@github.com>:

[2016-09-12 19:48] Crinsane commented on #216
Hi, thanks for the idea.

I actually have nothing against adding something like this to the package, might indeed clean it up quite a bit. Because truth be told, I'm not all to happy with the way it works at the moment with the number formatting...

I hope to have some time this week to play around with it a bit, so I'll definitely give it a go!

I'm also interested in other peoples opinion about

[2016-09-12 20:06] browner12 commented on #216
just an FYI, they are in the midst of a new major release (3.0).  Currently they have a beta out, so hopefully the stable is right around the corner.

money has always been the biggest PITA for me when writing cart software. PHP definitely needs a package to step in for Money just like Carbon has stepped in for Datetime.  I think integrating this package will make your code much easier to improve

[2016-09-14 16:11] renzofp commented on #215
$rows = Cart::content();
        $rowId = $rows->where('id', $id)->first()->rowId;

[2016-09-14 20:05] hemant6488 commented on #189
To add on to what @matbeard mentioned, It now throws an error saying:
`Declaration of App\Book::getBuyableDescription() must be compatible with Gloudemans\Shoppingcart\Contracts\Buyable::getBuyableDescription($options = NULL)`

[2016-09-15 07:24] hengsoheak commented on #141
How to get table for this LaravelShoppingcart packages?

[2016-09-15 10:30] hengsoheak opened #217 "How to update a row from session items in LaravelShoppingcart"
I want to update one item from my cart using method in LaravelShoppingcart as below

 $id = "8cbf215baa3b757e910e5305ab981172";
 $test = Cart::update($id,['price'=>5000000]);
all cart in session as below

Collection {#162 ▼
  #items: array:3 [▼
    "0f6524cc3c576d484150599b3682251c" => CartItem {#160 ▶}
    "8cbf215baa3b757e910e5305ab981172" => CartItem {#184 ▼
      +rowId: "8cbf215baa3b757e910e5

[2016-09-15 16:02] Crinsane commented on #217
Please tell me how to reproduce this error.

[2016-09-20 14:04] Gameonn commented on #180
How to check whether the search result is empty or not?

`Collection {#296
  #items: array:1 [
    "5b9ea6f643e315f2af49fccf278f6c0d" => CartItem {#266
      +rowId: "5b9ea6f643e315f2af49fccf278f6c0d"
      +id: "9"
      +qty: 1
      +name: "Right"
      +price: 2.0
      +options: CartItemOptions {#267
        #items: array:3 [
          "artist_id" => "5"
          "artist_name" => "So Simple"

[2016-09-20 15:24] twilightalkalin opened #218 "Quantity to 0"
Hello is it possible to make the quantity set to 0 first at the first time?

[2016-09-20 16:56] Crinsane commented on #180
Just check if the returned collection is empty or not.

[2016-09-20 16:56] #214 closed

[2016-09-20 16:58] Crinsane commented on #218
Have you tried? I believe it is.

[2016-09-20 16:58] #218 closed

[2016-09-21 05:43] Gameonn commented on #180
@Crinsane Thanks for your response, I have checked the result count which solved my problem.

[2016-09-21 06:40] KHMtravel commented on #217
I have similar problems: RowId changes after updating attributes.
I guess the reason is in line 148 of Cart.php:
`$content->put($cartItem->rowId, $cartItem);`
I think this should be changed to
`$content->put($rowId, $cartItem);`
This would insert the cart item with the old rowId, that was passed to the function.

[2016-09-21 11:49] Gameonn commented on #63
`$.ajax({
              type: 'post',
              url: action-url,
              data: data,
              success: function(response) {
                console.log("{{Cart::subtotal()}}");
                console.log("{{Cart::content()->count()}}");
              }
            });`

Using Crinsane in ajax but the Cart::subtotal and cart count remains zero even after I add items in the cart.
Aft

[2016-09-21 11:53] Crinsane commented on #63
Because what you're trying to do doesn't work. Blade will render before the JavaScript, so you're actually just console.log -ing the subtotal and count on page load. Your ajax call should return the subtotal and content

[2016-09-21 11:53] #63 closed

[2016-09-21 12:11] anonprophet commented on #210
this issue already fix?

[2016-09-21 14:31] Gameonn commented on #63
@Crinsane So how can I get the value of subtotal and count?
In ajax success response I am getting object of `Cart::content()`.

[2016-09-21 15:09] Crinsane commented on #63
Either calculate them yourself from the response you get, or you return all of those from you controller.

[code]

Loads of ways to solve this, just google around a bit.

[2016-09-21 17:42] Gameonn commented on #63
Thanks @Crinsane

[2016-09-24 07:52] FubuBy opened #219 "How get list of instances?"
How get list of instances?

[2016-09-24 07:58] FubuBy opened #220 "How display count of items in view?"
I add items in cart, example 5 items. But when I reload page then display 0 items in view. I use Blade.
`{{ Cart::count() }}`
But when I add new items, then started from 5, but in displaied 0.
How display the number in the view?

[2016-09-24 18:13] Crinsane commented on #220
I need more code to debug this

[2016-10-01 00:08] d0minationPT opened #221 "Issue when calling Cart::total()"
Hello,
When calling the Cart::total() function, the parameters won't be set if they are a empty string. For example for the thousand separators sometimes you need it a clean numbers such as 1000.00 and not 1,000.00.

[2016-10-02 18:35] pelachile opened #222 "Model not associating correctly"
Controller:

      if(!in_array($request->id, $rowIds)) {
			$product = Product::find($request->id);

			$cartItem = Cart::add($product->id, $product->name, 1, $product->price)->associate($product);

			$request->session()->flash('add_success','Product added to your cart');

			return redirect()->back();
		}`

View:

      @foreach(Cart::content() as $product)

                        <tr>

[2016-10-03 03:40] mateusjatenee commented on #222
@pelachile What version of the library are you using?

[2016-10-03 03:55] mateusjatenee commented on #219
Hi @FubuBy, not sure if you're still interested on this.

Not sure how Rob's time is right now and his interest, and how I needed some immediate functions for my company I forked this project. It has the method you want (`Cart::instances()`).

https://github.com/mateusjatenee/laravelshoppingcart

[2016-10-03 04:10] FubuBy commented on #219
@mateusjatenee, thank you

[2016-10-03 04:10] #219 closed

[2016-10-03 06:56] Crinsane commented on #219
If someone feels like submitting a PR for this, feel free to do so :)

[2016-10-03 18:29] Valonix opened #223 "Only two items"
Why i can add only two items in my cart?
I press add product and in response see only two previos items. If i delete one, i can add another one. Some limit?

` class CartController extends Controller
{
    /**
     * @param Request $request
     * @return \Illuminate\Http\JsonResponse
     */
    public function add(Request $request)
    {
        $product = Product::find($request->id);

        i

[2016-10-03 18:58] Crinsane commented on #223
There should not be a limit or anything. Which session driver are you using?

[2016-10-03 18:59] Crinsane commented on #223
And the response of the add method is not the cart content.

[2016-10-03 18:59] Valonix commented on #223
I don`t know. i`v use Laragon 2.1.0.

[2016-10-03 19:08] Valonix commented on #223
About response it doesn`t matter, the main goal is to save in backend. Other stuff in Angular app.

[2016-10-04 11:48] Valonix commented on #223
Any idea? Earlier all works fine. I created backend side and frontend (Angular). Then i started to create markup from PSD and while I've working with checkout page i found this. =(

[2016-10-08 11:14] kvlknctk opened #225 "How to change tax value?"
my country using 0.18 tax. but laravelshopping cart used presumably 0.21.  i need to change tax value but there are not config file.

thanx for reply.

[2016-10-08 12:54] Valonix commented on #223
If i use SESSION_DRIVER=file all works fine. Weird...

[2016-10-08 15:37] absemetov opened #226 "When update price item, options deleted."
I set option:
[code]
After that I update price

[code]

[2016-10-08 17:14] absemetov commented on #226
[code]

[2016-10-10 11:16] webwizo commented on #225
You can write `php artisan vendor:publish`.
You will find `cart.php` file into `config` folder

[2016-10-11 12:51] karlpatrickespiritu opened #227 "Associated model data not present when using via API."
No associated model data is returned.

![noprod](https://cloud.githubusercontent.com/assets/10472504/19270726/00aa3cd4-8ff4-11e6-87dc-7db600ca8d16.png)

Would be great if we can include it so that users won't have to manually create a return function for the cart items.

[2016-10-11 12:54] karlpatrickespiritu commented on #227
#228

[2016-10-11 18:10] quetool commented on #170
same of MrLenh here!

[2016-10-11 19:00] quetool commented on #225
I have the same issue as kvlknctk but when ir run "php artisan vendor:publish" i get

[code]

[2016-10-11 19:10] quetool commented on #225
@kvlknctk you have a /vendor/gloudemans/shoppingcart/src folder, inside of it is there a "cart.php" where you can change tax value and many oders things!

[2016-10-11 19:12] quetool opened #229 "Cart gettin cleared on refresh"
Hi! i am new with this, but i have a question:

I saw when i restart, my Cart instance is getting cleared, is that normal? I mean, how can i do if I want to persist Cart instance between pages?

[2016-10-11 19:14] webwizo commented on #225
We don't chnage values under vendor folder. If you update your package all values will be rest.

[2016-10-11 19:15] quetool commented on #225
so what i have to do?

[2016-10-11 19:17] webwizo commented on #225
`php artisan vendor:publish` should have worked. I am already using it and vendor:publish worked.

[2016-10-11 19:19] quetool commented on #225
I'm gettin this error...

<img width="1369" alt="captura de pantalla 2016-10-11 a las 16 18 15" src="https://cloud.githubusercontent.com/assets/14978705/19284938/67d4bd42-8fce-11e6-8dd3-932cbaa6e56f.png">

Even when i do php artisan migrate

[2016-10-11 19:21] webwizo commented on #225
Did you setup Cart alias into config/app.php?

Maybe Cart class not found.

[2016-10-11 19:22] quetool commented on #225
Yes

`'Cart' => Gloudemans\Shoppingcart\Facades\Cart::class,`

[2016-10-11 19:24] quetool commented on #225
Maybe i should change for ?

`'Cart' => Gloudemans\Shoppingcart\Src\Facades\Cart::class`

[2016-10-11 19:25] webwizo commented on #225
Well, it seems you did great 👍

Look, when I wrote vendor:publish.

![Uploading Screenshot 2016-10-12 00.24.53.png…]()

[2016-10-11 19:30] quetool commented on #225
Look, if i search for Cart.php this is what i found.

<img width="570" alt="captura de pantalla 2016-10-11 a las 16 27 56" src="https://cloud.githubusercontent.com/assets/14978705/19285309/e6152b96-8fcf-11e6-8753-8ba2c65fc9e9.png">

Maybe i am including the alias with a wrong path?

[2016-10-11 19:30] webwizo commented on #225
No, Src is a folder path, but your class has NAMESPACE `namespace Gloudemans\Shoppingcart\Facades` so you have to call class by Namespace not folder source.

[2016-10-11 19:34] quetool commented on #225
OK i did it,

<img width="1324" alt="captura de pantalla 2016-10-11 a las 16 33 11" src="https://cloud.githubusercontent.com/assets/14978705/19285484/6ea7df8a-8fd0-11e6-96ac-672a2a9b5626.png">

i was adding "use Cart;" in a Controller, i don't know why, maybe I pasted there accidentally! Thanks!

[2016-10-11 19:37] webwizo commented on #225
Good, you have figured it out 👍

[2016-10-11 19:38] quetool commented on #225
Can you help me with this? https://github.com/Crinsane/LaravelShoppingcart/issues/229

[2016-10-11 19:38] webwizo commented on #229
Let me try first, I didn't notice :)

[2016-10-11 19:41] webwizo commented on #229
OMG, it has cleared.

It shouldn't have cleared :(

[2016-10-11 19:42] quetool commented on #229
I was crashing my head since this morning on this :S

[2016-10-11 19:44] webwizo commented on #229
I'm figuring it out, thanks for pointing me out. I am working on a huge project, it could be my nightmare too :)

[2016-10-11 19:45] quetool commented on #229
Im sorry! :( let me know!

[2016-10-11 20:09] webwizo commented on #229
I checked, sometime it works between pages and sometimes cart cleared. I didn't find anything unusual code that cleared the session.

I think session is expiring too soon.

[2016-10-11 20:13] webwizo commented on #229
It is happening sometimes, but I couldn't figure it out.

I checked the package code, I didn't find anything regarding session clear or empty cart.

[2016-10-12 06:00] Crinsane commented on #229
@quetool did you use the `dd()` function anywhere while testing this? Because that will destroy the session.

[2016-10-12 06:00] #225 closed

[2016-10-12 06:03] Crinsane commented on #170
Please give me more information on how to reproduce this error. Which Laravel version? Which session driver? Is it a new project or an existing project?

[2016-10-12 06:06] webwizo commented on #229
Oh, that's interesting. Thanks :)

[2016-10-12 13:11] quetool commented on #229
@Crinsane nop, i never use dd()

[2016-10-12 13:26] quetool commented on #170
@Crinsane
Laravel 5.3.18
'driver' => env('SESSION_DRIVER', 'file'), --> this is what you mean?
It is a very new project!

[2016-10-12 14:00] Crinsane commented on #229
@quetool So basically, you add something to the cart, you go to the cart overview page, and once you refresh it, it's empty?

[2016-10-12 14:01] quetool commented on #229
@Crinsane yeah! that's right!

[2016-10-12 14:03] quetool commented on #229
I mean, refreshing i just for explanation, but if you surf the site it happens too, I mean, if you click on a link to continue shopping for example...

[2016-10-12 14:04] quetool commented on #229
I tried every type of session driver but nothing changes...

[code]

[2016-10-12 14:13] Crinsane commented on #229
I can't seem to reproduce this. Could you have a look at your session id and see if it changes with each request. Add something like `var_dump(Session::getId())` somewhere and see if it changes (because it should not)

[2016-10-12 14:18] Crinsane commented on #226
@absemetov Feel free to submit a PR :)

[2016-10-12 14:18] #226 closed

[2016-10-12 14:18] #223 closed

[2016-10-12 14:19] #220 closed

[2016-10-12 14:49] quetool commented on #229
Nop! it doesn't change!

[2016-10-12 14:50] Crinsane commented on #229
I guess I need your code so I can debug this. Because I can't reproduce it.

[2016-10-12 18:06] quetool commented on #229
I installed on localhost (with XAMPP) Laravel Framework version 5.2.45 and it is working just great! (with the deafult Laravel layout)

I do not know why with Laravel 5.3.18 it is happening this issue...
is there a way to uninstall your LaravelShoppingCart, clean laravel and reinstall it?

[2016-10-12 20:51] quetool commented on #229
@Crinsane where can I send you the access to my server? because i can not figured it out!

[2016-10-12 21:29] quetool commented on #229
@Crinsane maybe you wanna kill me but i figured out! I was including `<?php echo Cart::destroy(); ?>` in a header. I am ashamed! :(

[2016-10-12 21:33] Crinsane commented on #229
Lol. Well, it happens. 😋 Long day? 😉

Glad you solved it!

[2016-10-12 21:33] #229 closed

[2016-10-12 21:35] quetool commented on #229
Yes! i found it with grep :P

`grep -rnw '/var/www/laravel/' -e "Cart:"`

[2016-10-13 09:37] Goldenblum opened #231 "Cart::add returns NULL if a model is associated"
`$cartadd = Cart::instance('cart')->add($product->id, $product->name, 1, $product->price, $attributes)->associate('\App\Modules\Products\Http\Models\Product');

        return json_encode($cartadd);`

If I associate the model to my Cart, the add does not return the last added item as it should.

`$cartadd = Cart::instance('cart')->add($product->id, $product->name, 1, $product->price, $attributes);

[2016-10-13 10:11] Crinsane commented on #231
Fixed by 143d51b22b365068b2308bb3732eadffb4df266c

[2016-10-13 10:11] #231 closed

[2016-10-13 12:06] mbsmi commented on #222
I am having the exact same issue, using the most recent version.

[2016-10-13 12:12] Crinsane commented on #222
Where does the `$product` variable come from when you do `dd($product->model)`?

[2016-10-13 14:23] mbsmi commented on #222
@Crinsane The `$product` variable is off a foreach of `Cart::content()`.

[2016-10-13 14:53] Crinsane commented on #222
Ah ok, was wondering if it was a Product model or something. ;)

I'm trying to reproduce this, but can't seem to...

[code]

[code]

[code]

So seems to work perfectly @mbsmi Are you sure the ID you specify on the first parameter of the `add()` method is the actual primary key of the Product model? Because that's what the package will use.

[2016-10-13 15:19] mbsmi commented on #222
@Crinsane Hate to say it, I wasn't. I did not think about the package needing it for the model. Thanks for your assistance on this, everything is working now.

[2016-10-13 19:08] petraeus opened #232 "Make all functions protected so class can be extended"
I've extended your shopping cart, but in the process Ive had to change all your private function to protected. Please make this the default. Thank you.

[2016-10-13 19:32] Crinsane commented on #222
Might be interesting to add something so one can specify the way a model is fetched. But that's for the future. Glad it is fixed!

[2016-10-13 19:32] #222 closed

[2016-10-13 19:35] Crinsane commented on #232
Sorry, but I'd rather not change this right now.

[2016-10-13 19:35] #232 closed

[2016-10-17 11:18] sweet-greg commented on #214
Can you explain why this is closed? RowId's still get regenerated with version 2.2.3 when changing options.

[2016-10-17 16:05] Goldenblum opened #233 "Cart item price is not saved with decimals when decimals are .00 even if it's configured with decimals 2"
Hello,

When I add a product to the cart:
`Cart::instance('cart')->add(['id' => '1', 'name' => 'Test', 'qty' => 1, 'price' => 13.00]);`

Cart::instance('cart')->content() returns:

`            [027c91341fd5cf4d2579b49c4b6a90da] => Gloudemans\Shoppingcart\CartItem Object
                (
                    [rowId] => 027c91341fd5cf4d2579b49c4b6a90da
                    [id] => 1

[2016-10-17 18:53] Crinsane commented on #233
And what if you don't dump the entire content, but echo the price of one item? Might just be because of the dump.

[2016-10-17 19:40] Goldenblum commented on #233
I discovered this during a loop through the cart's content, when showing the cart. So I believe it's not because of the dump.
I exploded the price by the separator for displaying purposes (I know it's not kosher:)) but it did the trick. Anyhow, the price is still returned as an integer.

[2016-10-17 21:42] edwinricaurte commented on #233
I have problem with the ->tax() operation, is not working properly, if I setup the tax rate to 7%, is calculating like 20%.

[2016-10-18 17:32] nevergear opened #235 "how to setting database connection?"

[2016-10-20 03:50] neutt22 commented on #167
Is this issue still open?

[2016-10-20 07:44] neutt22 commented on #235
i also would like to know since when a user logs out, the cart data disappears, too. Cart data should be stored in a file or database.

[2016-10-20 13:45] Crinsane commented on #235
The cart is saved in the session. There is are methods for storing and restoring the cart to/from a database. See the documentation.

[2016-10-20 13:45] #235 closed

[2016-10-20 14:15] neutt22 commented on #235
Rookie question: where do i find the docs other than readme? Id really like to integrate this to my proj.

[2016-10-20 17:43] nevergear commented on #235
on config/cart.php how to setting this `
    'database' => [

        'connection' => null,

        'table' => 'shoppingcart',

    ],` to save cart into database?

[2016-10-21 00:46] neutt22 commented on #235
@nevergear I've already done that part and `php artisan migrate` saw the table on my db but it's not getting populated with the cart items.

[2016-10-24 10:19] rebornishard opened #237 "please update readme.md"
please update readme.md to new repo

[2016-10-24 17:24] Crinsane commented on #237
Sorry?

[2016-10-24 17:24] #237 closed

[2016-10-24 19:39] eberkund opened #238 "Making private methods protected"
@Crinsane would you be open to a pull request changing private methods to protected? I wanted to extend the cart in my project to support items having a shipping weight, but some of the methods are private. Making them protected would be better I think, especially for a shared library like this.

[2016-10-24 19:56] Crinsane commented on #238
I'd rather think about how to include shipping into the package to be honest. 😉

[2016-10-24 20:33] eberkund commented on #238
I can help with that as well, I have done some thinking on the subject and to me it seems like the best way is to just have shipping weight and maybe dimensions calculated by the cart. The weight/dimensions can then be passed to whatever API or code you are using to calculate shipping.

The part I am not sure about is how it should calculate the total. Right now there is a subtotal, which is the s

[2016-10-24 20:45] Crinsane commented on #238
Yeah, the total is one problem, but also how to keep the basic API simple. I don't want to end up with for instance an `add($id, $title, $qty, $price, $options, $tax, $shipping, $discount, ...)` kind of method with 10+ parameters.

[2016-10-24 20:51] eberkund commented on #238
In my own project I tried to follow the way you did it with the `Buyable` interface which I think is nice and elegant and made a similar `Shippable` interface which has a `getWeight()` method. But I also understand that you don't want to force using the `Buyable` interface so there is also the option to pass in each parameter manually. If that is the case, perhaps we could switch to array style pa

[2016-10-24 20:55] Crinsane commented on #238
I'll give it some thoughts. I also prefer the `Buyable` way with interfaces actually.

[2016-10-24 22:25] denisrpriebe commented on #233
@edwinricaurte https://github.com/Crinsane/LaravelShoppingcart/pull/234 Should fix your issue.

[2016-10-25 00:08] eberkund commented on #238
When considering different approaches I think the main point is going to how much backwards compatibility you want to maintain and also how the cart should be used with and without the shipping feature.

[2016-10-25 14:49] closerdesign opened #239 "Taxes Config"
Currently, I´m using the component with a Laravel 5.3 installation. However, as a result that I´m deploying using envoyer, every time I deploy the app composer update the config file of the module with the default value for taxes: 21.

Is there any way to manage that configuration from the app?

Thanks!

[2016-10-25 18:38] Crinsane commented on #239
Publish the config to your app

[2016-10-25 18:38] #239 closed

[2016-10-26 02:54] closerdesign commented on #239
Thanks for the answer!

I'm not sure what you mean. Is there any link in the documentation that you can provide me?

Thanks again!

[2016-10-27 02:25] eberkund commented on #238
Here is my extended cart class

    <?php

    namespace App\Services\Cart;

    use Gloudemans\Shoppingcart\Cart as GloudemansCart;
    use Gloudemans\Shoppingcart\CartItem;

    class Cart extends GloudemansCart
    {
        public function weight()
        {
            $content = $this->getContent();

            $weight = $content->reduce(function ($weight, CartItem $cartItem) {

[2016-10-27 07:51] sebastianstoll97 opened #240 "associate()->with()"
Great work, I must say.

I'm currently building a webshop CMS for myself, where I'm running this setup: Products hasMany Variants, and it's then the variants that is added to the cart.

Therefore, it'd be awesome(!!) if it was possible to run a with() statement on the associate() method? :-)

[2016-10-27 10:43] Crinsane commented on #240
Can't you just call `$cartItem->model->variants`?

[2016-10-27 14:16] eberkund commented on #240
I don't know if this any help to you but in my shop each CartItem has a Product model and another model specific to the user buying it associated with it. The product model is what implements the Buyable interface so for the additional model I just reference its ID in the options parameter.

    Cart::add($product, $quantity, [
        'other_model' => $id
    ])

[2016-10-27 14:28] eberkund commented on #238
I have been doing some more thinking on the subject and my idea is that the cart can be thought of as having two types of logic.

![cart](https://cloud.githubusercontent.com/assets/4555959/19771004/666813b0-9c2f-11e6-9793-33766aaf7a98.png)

- In blue, are things that depend only on the cart contents (ie. price and quantity of the items in the cart)
- In green, are things that depend on the cart co

[2016-10-28 13:21] sebastianstoll97 commented on #240
@Crinsane Yes, also I do. When adding to card, I add the variant (of course), but when I display the cart, it'd be nice if I could get the Product too, because it have some properties that would be nice to show. :-)

Nice one, @eberkund ! :) I could use that.

[2016-10-28 13:23] sebastianstoll97 commented on #240
I've built this helper function, which actually solves my needs. It works for now :)
https://gist.github.com/sebastianstoll97/471e0c3d531a6cd2f5de4e9df86eb431

[2016-11-01 03:39] mattfanz opened #241 "Update Cart Item return new RowId"
Can you update code for this part, the same when we add ?

[2016-11-01 06:04] #241 closed

[2016-11-02 07:24] sweet-greg commented on #214
@Crinsane this is a pain when using this module in an API, I don't understand why this is a smart move to regenerate the ID when options are updated... Can you comment?

[2016-11-02 08:08] Crinsane commented on #214
It's actually quite simple. The rowId is the unique identifier of an item in the cart.

Say you buy a "red t-shirt, size M", this will give you a certain rowId based on the product itself and the options (color = red, size = M)
If you add another item "blue t-shirt, size M", you're buying the exact same product, but with different options, so it will need an other rowId to be uniquely identifiable

[2016-11-02 08:18] sweet-greg commented on #214
I understand your thinking, but you normally use a unique SKU per product for that, no? In my case options of the cart are, for example, if you would like the product the be giftwrapped or not...

[2016-11-02 08:21] Crinsane commented on #214
Yes, there are indeed situations where you have a unique SKU for each product and options. But a lot of people don't have those.
I can understand how this could be a problem in your specific situation. But then again, if you'd only work with the SKU, how would you distinguish two of the same SKU's in a cart, where one has to be giftwrapped and one doesn't?

[2016-11-02 08:23] sweet-greg commented on #214
you're right. I don't really need to support that kind of behaviour in my case, but this module should ;)

[2016-11-02 08:28] Crinsane commented on #238
@eberkund I haven't forgotten about this, just didn't had the time yet to really look into it.
So just wanted to let you know that I will get to it eventually :)

[2016-11-02 12:38] sweet-greg commented on #214
@Crinsane when you update a row, and hence the rowId gets updated, how can you retrieve the new ID? Cart::update() does not return anything...

[2016-11-02 12:48] Crinsane commented on #214
I think that should be fixed indeed. The update method should return the CartItem that was updated. So if you're willing to make a PR, feel free to do so :)

[2016-11-02 13:50] eberkund commented on #238
Okay great, let me know when you do and I will be happy to help.

[2016-11-07 04:16] cyberwolf888 opened #244 "Is this package compatible with LARAVEL 5.3 ??"
Can i use this package in laravel 5.3?

[2016-11-07 04:18] eberkund commented on #244
Yes

[2016-11-07 06:18] cyberwolf888 commented on #244
@eberkund But when i use Cart::add() this package wont store my cart.
When i call Cart::content(); give me null value.
I'm trying to use session to store my cart.

[2016-11-07 07:17] Crinsane commented on #244
Yes it works with Laravel 5.3 So it's probably something in your code or configuration.

[2016-11-07 07:17] #244 closed

[2016-11-08 20:37] schuesslerf opened #245 "Generate Invoices from Shopping Cart items"
Whats a plugin that integrates nicely with your shopping cart to generate invoices after payment? Is there anything you can suggest?

[2016-11-08 21:46] Crinsane commented on #245
I can't really. I think generating invoices is actually really something specific to your app.  Also there are a lot of steps between simply putting stuff in a cart session (this package) and generating an invoice. Checkout, payment, storing the order etc.

[2016-11-08 21:46] #245 closed

[2016-11-10 08:26] d0minationPT opened #247 "Cart additional arguments"
Hey guys,

I think this is an important issue, in case lets say we want to add a coupon discount to a cart, or any other information relative to the cart, we should be able to in a additional array.

[2016-11-10 08:57] peterquentin commented on #247
Hi,

Please look at issue #238 it's basically a WIP

[2016-11-10 09:55] lead-worker commented on #207
I think it is not good idea to add functionality of counting of discount for cart. It will be much additional logic for counting discouts and discounts rules. It can be associated with products, with quantity, combination etc. It will be hard logic for this package. But I also think that it needs to show discount in cart.

I think that best functionality under this package is posibility to add sim

[2016-11-10 14:24] ElectroWAR opened #248 "Non taxable products"
Hi,
How to calculate cart total with non taxable or different tax (17.5%, 20%)  items.

Thank you

[2016-11-10 14:42] ElectroWAR commented on #221
Hi,
I think, you can update number format  in cart config file bottom.
go to  config > cart.php   and find  format array and remove ","  on thousand_seperator

Thank you.

[2016-11-11 09:07] anniealan commented on #167
I save shopping cart to database with Cart::store(auth()->id()); It works..
But how can I fetch that row from the database? I tried **Cart::restore(auth()->id())**, but it only deletes the row from the database..

[2016-11-11 13:30] jonathandey opened #249 "Support Twig Dynamic Properties"
I'm using this package as part of an OctoberCMS plugin. Both the plugin and this package work really well but OctoberCMS uses Twig for templates and the dynamic properties on the the CartItem model don't work with Twig.

According to Twigs documentation, to support dynamic methods the model must have an `__isset()` magic method as well as the `__get()` method, see: http://twig.sensiolabs.org/doc/r

[2016-11-12 13:52] Juzepe opened #250 "Auth expired very soon"
After install this package I need login in short periods of time. My SESSION_DRIVER is file. Anyone can help me?

[2016-11-16 10:06] rorc opened #251 "Adding toJson method for CartItem"
Its very useful for process cart with Vue.js and pass CartItem to component:
`<cart-item :data="{{ $item->toJson() }}"></cart-item>`

And would be nice adding `__toString` method :)

Thanks =)

[2016-11-16 10:56] Crinsane commented on #251
Not going to add this right now sorry, if you want this just do `cart-item :data="{{ json_encode($item->toArray()) }}"></cart-item>`

[2016-11-16 10:56] #251 closed

[2016-11-16 20:59] rorc opened #252 "Serialize all properties"
For using in components will be nice if cart of items serialize with all properties (recursive) with model, total, etc. Now cart serializing with limited properties:
[code]

[2016-11-16 21:32] rorc commented on #252
And i cant add custom properties to cart items, i. e.:
[code]
After serialization all my properties will dissapear :(

[2016-11-18 15:21] ChrisThompsonTLDR opened #253 "Cart session isn't maintained on logout with Laravel 5.3"
Laravel 5.3 does a complete [session flush](https://github.com/laravel/framework/blob/5.3/src/Illuminate/Foundation/Auth/AuthenticatesUsers.php#L154) when a user logs out.

The change to flush the entire session at logout was added in [this commit](https://github.com/laravel/framework/commit/9e68e91cef5df661cd64217c9242cea998a66883#diff-5f4a6b48485f00d665a4ebaebce984c3).

[code]

I think it makes

[2016-11-18 16:12] ChrisThompsonTLDR commented on #253
Something like this might be the solution.

app/Http/Controllers/Auth/LoginController.php
[code]

[2016-11-21 10:12] rorc opened #254 "Add method has"
Hi)

Now its very inconvenience write all time:
[code]
Need shortcut `Cart::has($product)`

[2016-11-21 14:38] wapnen commented on #133
hello have you found the solution to this problem

[2016-11-21 15:58] eberkund commented on #133
Post your source code, it is definitely working

[2016-11-22 03:12] d0minationPT commented on #207
I developed a way to create conditios, can be incremental(taxes) or deduction(discounts), I will create a pull request for this.

[2016-11-22 03:30] eberkund commented on #254
What is your use case for this?

[2016-11-22 06:39] rorc commented on #254
For iterate products and show button "already in cart" => go to checkout order, else "add to cart"

[2016-11-22 21:44] eberkund commented on #238
I have been thinking on this some more and I think I have a good enough idea to begin working on the feature. I think the most flexible way of doing it would be to add two new concepts: "modifiers" and "extras".

![cart2](https://cloud.githubusercontent.com/assets/4555959/20542925/d4e3df84-b0d1-11e6-886a-5a478521a5da.png)

It will work basically the same way it does now, you will be able to add it

[2016-11-22 21:44] eberkund commented on #247
You are welcome to share your thoughts on my proposal: https://github.com/Crinsane/LaravelShoppingcart/issues/238

[2016-11-22 22:01] eberkund commented on #248
You can [set the tax rate](https://github.com/Crinsane/LaravelShoppingcart/blob/master/src/CartItem.php#L232-L243) on a `CartItem`

[2016-11-24 10:44] matbeard opened #255 "Qty field is String not Number"
If you do a die-dump of the cart content, you notice that the `qty` property is a String rather than an Integer.

This usually isn't a problem with PHP, but I'm serialising the collection and using it with an Ajax call. I know I can use `parseInt` as a simple fix, but I'd like to know why `qty` is returned as a String.

Thanks

[2016-11-29 06:58] imansetyawan opened #256 "got error when store to database"
![39](https://cloud.githubusercontent.com/assets/21375700/20699799/cfad1f0c-b63b-11e6-88a3-33be01cfa55d.JPG)
![38](https://cloud.githubusercontent.com/assets/21375700/20699800/d096550a-b63b-11e6-9112-953e5023f4c7.JPG)
![40](https://cloud.githubusercontent.com/assets/21375700/20699808/dff087e6-b63b-11e6-842d-5e474afcc150.JPG)

plese help

[2016-11-29 15:05] Crinsane commented on #256
I need more information to help you. What class is the code form? What is the line where the exception is thrown? etc. etc.

[2016-11-30 16:58] eberkund opened #257 "Cart contents contains incorrect tax information"
When a Cart Item with a quantity greater than one is in the cart, the toArray method sets the value of the tax equal to the price of a single item multiplied by the tax rate. What is the purpose of having `$cartItem->tax` and `$cartItem->taxTotal`? Why not preferable just use taxTotal in this case? @Crinsane

[2016-12-02 12:23] imansetyawan commented on #256
get error when I execute addToCart method

[2016-12-02 12:41] imansetyawan commented on #256
are you have example how to store it to database? @Crinsane

[2016-12-02 16:03] #256 closed

[2016-12-02 16:07] imansetyawan opened #258 "Cannot use object of type Gloudemans\Shoppingcart\CartItem as array"
When I execute checkout get error like this. please help @Crinsane
![42](https://cloud.githubusercontent.com/assets/21375700/20840798/06b8b330-b8e4-11e6-82ae-0e36363d351e.JPG)

and this is my Controller
![43](https://cloud.githubusercontent.com/assets/21375700/20840818/140129c8-b8e4-11e6-9ab7-d80a536fbe07.JPG)

[2016-12-14 13:07] erivas3649 opened #259 "Events are not firing"
Hi, I'm using Laravel 5.3 and the events are not firing... Am i missing some configuration?
On my EventServiceProvider i've added some listeners like

`protected $listen = [
        'cart.add' => [
            'App\Listeners\CartAddedListener'
        ],
        'cart.update' => [
            'App\Listeners\CartUpdatedListener'
        ]
];`

Thanks in advance!

[2016-12-18 16:01] abr4xas commented on #239
Hey @closerdesign run this: `php artisan vendor:publish` :smile:

[2016-12-19 03:29] closerdesign commented on #239
Awesome! Thanks!

[2016-12-22 06:20] clemquinones opened #262 "No option to update the item price, when a discount must be applied."
No way I could update the item price, when I have this discount that should reduce the price.
Yeah, this can be done if I remove the item and re-add it again but in my case, I put a few important options on each item and I don't want to re-push again those options. See, you have an option (of course) to change the qty but none for the price. I am looking forward for the solutions. Thanks.

[2016-12-22 06:56] kevosomi opened #263 "UnexpectedValueException in Response.php line 403: The Response content must be a string or object implementing __toString(), "object" given."

[2016-12-22 06:58] #263 closed

[2016-12-22 08:54] Crinsane commented on #262
@clemquinones And why would `Cart::update($rowId, ['price' => 10]);` not work for you?

[2016-12-23 06:32] clemquinones commented on #262
Thanks for the response. Yes it is working, I can change the price. But do you have a method to modify or push a new key-value pair on the item's options?

For example on my case, if I have to update the price that should also update the ```is_discounted``` key on its options.

Given the item options of: ```is_special```, ```is_addon```, ```is_discounted```

This updates the ```is_discounted``` bu

[2016-12-23 13:22] Bulmer opened #264 "rowid or rowId?"
I have just recently upgraded from fac172e to 3ec0cef and came across this bug that was very difficult to trace. In the former version the Cart property was 'rowid' and it worked with no errors, but with the later version 'rowId' was needed (note capital 'I'). Was there a property name change here or was there a change within PHP that I missed?

[2016-12-23 23:34] clemquinones commented on #264
i think it would be better if he uses snake_case,

[2016-12-24 01:34] Bulmer commented on #264
I agree clemquinones, i'm just wondering when the change was made..

[2016-12-25 22:31] #264 closed

[2016-12-27 14:07] kevosomi opened #265 "Persisting and restoring a Cart to/from the Database"
This is a great package and I really appreciate the work that has gone into it. Just a quick one, how do I persist the Cart to the database and restore it as need be? I can do it the long way of course, but why do it while probably there's some Laravel Magic in this package to do that easily! Let me know. Thanks in advance!

[2016-12-27 14:44] kevosomi commented on #265
Found a solution in the package I believe its a case of missing documentation
In the cmd run php artisan vendor:publish
A migration file will be published.
Run migration the have a function similar to the one below.
`public function storeCart($identifier){
Cart::store($identifier);
}`
Whenever a user hits the function above, their Cart will be saved to the database.
To restore the Cart to your ses

[2016-12-27 14:56] msonowal opened #266 "Eager Load the model (implement Buyable)"
Currently for each column it is generating a query to the DB, so to optimize do we have any solutions right now

[2016-12-31 00:52] vevionservices opened #267 "Invalid Price Format"
Hello,

The Price Format of the $cart->add is invalid.

It shows 9.5 instead of 9.50, where can i change it ?

Regards

[2017-01-05 17:02] core45 commented on #248
Would be cool it it was in the documentation...

[2017-01-06 06:31] Crinsane commented on #248
@core45 feel free to send a PR...

[2017-01-06 06:31] #248 closed

[2017-01-08 01:10] abr4xas opened #268 "Problems with store cart method"
Hi there, i have a little problem with `Cart::store()` perhaps, i don't know how to use it but, this is what i'm doing:

1) Add a product to my cart like:

[code]

2) This is what i get using `Cart::content();`

[code]

At this point everything works nice :+1:  :+1:

Following [Getting and using $rowId](https://github.com/Crinsane/LaravelShoppingcart/wiki/Getting-and-using-$rowId)

[code]

Output:

[2017-01-08 17:21] ruhinacse14 commented on #180
what's wrong with this code
$rowId = Cart::search(function($key, $value) {
                return $key->id == $request->product_id; });
i'm getting error like Undefined variable: request when i'm using laravel 5.2

[2017-01-08 18:16] Crinsane commented on #180
You need to pass the request into the closures function scope with the use keyword.

[2017-01-09 04:57] ruhinacse14 commented on #180
after using this $rowId = Cart::search(function($key, $value) use($request){
                return $key->id == $request->product_id;
});
i can't able to access this Cart::get($rowId[0]);
$rowId[0] return as Undefined offset: 0.
where $rowId is 027c91341fd5cf4d2579b49c4b6a90da

[2017-01-10 03:48] ruhinacse14 commented on #110
what is $method here? how do you put link in it?button?Can you please specify me.

[2017-01-12 09:43] test2mailer opened #269 "unable to get unitPrice or inputPrice value"
Hi, Please help me i unable to get `unitPrice or inputPrice` from cart items, when i try to get `unitPrice or inputPrice` it show me `null`.
here are getCartItems response:
[code]

[2017-01-12 09:59] #269 closed

[2017-01-18 15:05] tuxdalinuxpenguin commented on #258
Take a look at line 79 "$cart['id']", I am guessing you probably had the oh crap moment already.

[2017-01-23 18:12] Polly3919 commented on #258
Maybe change the .env file 's' CACHE_DRIVER ?
...
CACHE_DRIVER=array
....

[2017-01-26 21:59] cyrilselasi opened #271 "Total turns to single digit if greater than 1000."
Total of items become an integer after total passes 1000.

`<td data-title="Total">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">£</span>
                                                    {{ \Gloudemans\Shoppingcart\Facades\Cart::instance('collectio

[2017-01-27 06:38] cyrilselasi commented on #271
comma separator makes it impossible to cast the total string into a float or double. I removed the comma separator before adding the two instances.

[2017-01-27 06:38] #271 closed

[2017-01-27 15:23] Polly3919 commented on #268
Oops.. 20 days ago..
Did you solve the problems yet??

[2017-01-27 15:32] abr4xas commented on #268
@Polly3919 nope :disappointed:

[2017-01-27 15:38] Polly3919 commented on #267
Maybe.. Use this ?
str_pad(string,length,pad_string,pad_type)

<? $price=9.5; ?>
<table>
<th>{{ str_pad($i,4, '0',STR_PAD_RIGHT) }}</th>
</table>

[2017-01-27 15:52] Polly3919 commented on #268
Hmm.. take a look :P
Cart::store($identifier)
$identifier -> is the cart's name

When I use function " Cart::add() " , it's basically save the items in the cart('default')
So when I want to store the cart('default') , I'll use " Cart::store('default') "

When I want to save the item to another cart , I'll use
Cart::instance('preferbuy') -> add('......');
Cart::store('preferbuy');

[2017-01-27 17:28] Crinsane commented on #267
How are you echoing it? Give some code so I can recreate the problem.

[2017-01-27 17:31] Crinsane commented on #268
Yes, the add method will just add the item to the cart (store it in the session). The store method can be used to store the content of the cart in the database. And can be later retrieved by the unique identifier you pass to the store method.

[2017-01-27 17:31] #268 closed

[2017-01-28 09:12] devmahmed opened #272 "LaravelShoppingcart Tax"
i don't wan't **tax** how can i remove

[2017-01-28 09:17] Polly3919 commented on #272
Modify it at /config/cart.php
you'll see
[ 'tax' => 20]
change it to 0

[2017-01-28 09:21] devmahmed commented on #272
<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Default tax rate
    |--------------------------------------------------------------------------
    |
    | This default tax rate will be used when you make a class implement the
    | Taxable interface and use the HasTax trait.
    |
    */

    'tax' => 21,

    /*
    |----------------

[2017-01-28 09:22] devmahmed commented on #272
'tax' => 21,

i change this to 0 but not working

[2017-01-28 09:25] devmahmed commented on #272
Its work thank you so much :)

[2017-01-28 09:26] devmahmed commented on #272
if i want tax come from database so what can i do?

[2017-01-28 12:55] Polly3919 commented on #272
If u want wax come from database...
The different tax is due to the Customers or the Products ?

[2017-01-29 08:15] devmahmed commented on #272
I want customer change by own

[2017-01-29 08:15] devmahmed commented on #272
For diffrent product or for all products

[2017-01-29 08:28] Polly3919 commented on #272
If u want to have different tax for each product then I'll prefer to ...
1. Add a new column named 'tax' in the database.
2. Add the Tax value in the additional place like ['size']

[2017-01-29 09:23] devmahmed commented on #272
So how i calculate tax in cart

[2017-01-29 09:24] devmahmed commented on #272
I want like i create diffrent tax when i add new product so its ask me wich tax you want to apply for this product in select drop down

[2017-01-29 10:14] Polly3919 commented on #272
1. If you add a new column in databse , you'll see what you just add in the create page.
2. So to add into cart , just modify the price you display.
Steps:
Step1 : Get the [Price],[Tax] value out of the database
Step2: Add to the cart with [Price] * [Tax]

[2017-01-30 10:04] imranali1 opened #273 "Problem with Laravel 5.4"
Hi, I've just updated Laravel to 5.4 & getting following error while adding `Gloudemans\Shoppingcart\ShoppingcartServiceProvider::class, `
to config/app.php file.

`FatalThrowableError in ShoppingcartServiceProvider.php line 14: Call to undefined method Illuminate\Foundation\Application::share()
`
Let me know if there's a quick fix?

[2017-01-30 11:49] imranali1 commented on #273
I've updated "LaravelShoppingCart" to 2.3 & it seems to be working fine now.
Thanks.

[2017-01-30 11:49] #273 closed

[2017-02-01 10:09] jaleeskhan opened #275 "Whoops, looks like something went wrong. 1/1 FatalErrorException in web.php line 31: Class 'App\Movie' not found"
I face this problem in my first laravel project

Whoops, looks like something went wrong.

1/1
FatalErrorException in web.php line 31:
Class 'App\Movie' not found

while I create class in model

    <?php
    namespace App;
    use Illuminate\Database\Eloquent\Model;
    // laravel knows that since model is named Movie,
    // its database table name is "movies"
    class Movie extends Model

[2017-02-01 12:01] Crinsane commented on #275
This has nothing to do with this package.

[2017-02-01 12:01] #275 closed

[2017-02-04 21:55] imranali1 opened #276 "Need help with quantity purchase"
Hi,
I just wanted to know if its possible to add price per quantity basis.

Example: For each product if user purchase 2 per quantity price will be less than normal price.
If there's a discount on 2 qty purchase & user purchase 3 in a row, this way price will be calculated as discount for 2 & 1 with normal price.

I know there's way to update price using update method but how to calculate product

[2017-02-05 07:19] Crinsane commented on #276
This is not possible with the current version of the package I'm afraid. So you'll have to write your own logic for this.

[2017-02-05 07:19] #276 closed

[2017-02-05 21:34] imranali1 commented on #276
Just one more question please.

Let me know if its possible to update/set each product sub-total?

I know we can update each product price but is there anyway we can update product sub-total as well?

Thanks a lot.

[2017-02-07 02:55] abr4xas commented on #272
@Polly3919 I do not agree to:

`Add the Tax value in the additional place like ['size']`

You can use: [setTax($rowId, $taxRate)](https://github.com/Crinsane/LaravelShoppingcart/blob/master/src/Cart.php#L330) to add the new tax to the item :smile:

[2017-02-07 03:05] abr4xas commented on #267
Maybe you can change this:

[code]
To:

[code]

In: [cart.php#L59](https://github.com/Crinsane/LaravelShoppingcart/blob/master/config/cart.php#L59)

[2017-02-07 08:58] devmahmed opened #277 "Get total item cart"
How to get total items in cart?

[2017-02-07 09:39] tchoblond59 commented on #277
You should read the doc man...

https://github.com/Crinsane/LaravelShoppingcart#cartcount

Cart::count();

[2017-02-07 16:05] Polly3919 commented on #272
@abr4xas  Thanks man :D

I'm still new in laravel , just trying to grow myself up by solving others questions.

Thank  you for the nice solution

[2017-02-07 16:35] #272 closed

[2017-02-07 21:38] abr4xas commented on #277
Hey @Crinsane close this please :smile:

[2017-02-08 20:08] kevinkhill opened #278 "Lifecycle of the cart / session / instances"
I am not sure If I am doing something wrong, but I want to show an icon in the nav bar, with the count of items in the cart. In my controller, I can get my instance of the cart, get the items, list them, etc. Not a problem there.

When I run ```count(\Cart::content())``` in the view or controller, I get, 4, or 2, or whatever, and that is what I want.

The problem is that I want the count to show u

[2017-02-08 20:28] Crinsane commented on #278
This indeed doesn't seem to work. Looks like this is because the StartSession middleware is not yet loaded at that point.
Seems to be a problem related to Laravel and not this package.

Will try to find some time to debug this better.

[2017-02-08 20:33] kevinkhill commented on #278
Thanks for the quick reply. I will keep poking around and see if I can figure it out too. I will report back if I find out a solution.

[2017-02-09 14:34] kevinkhill commented on #278
I figured out a solution that seems to work for me, so I wrote up a page for your wiki 😄

[2017-02-13 14:06] imranali1 opened #279 "Need help with product sub-total calculation"
Let me know if its possible to update each product sub-total?

For example: I want to update product price with my own logic but product sub-total is always calculated as subtotal = (product qty) x (product price).

But I want product price & sub-total to be calculated on some other formula. I think this is not possible with current version, but somebody can guide me how to extend base class to ac

[2017-02-14 19:32] joeainsworth commented on #265
Thanks. I'm going to take a look at this!

[2017-02-15 16:03] raylight75 commented on #253
Same problem in Laravel 5.4, for now i comented this lines.
$request->session()->flush();
$request->session()->regenerate();
I've tried something like ChrisThompsonTLDR says but is not working for now.
If i find more elegant soluton i will write here.

[2017-02-18 16:59] juanklagos opened #280 "Product discounts"
I am creating a cart and wanted to add discounts to the products, in the array of options, I put a discount option, but when I update this option, also updates the id, and I change the position of the product in the cart, so investigate your Code, and comment where this function to update the id, my question is how bad is it to do this?

  public function updateFromArray(array $attributes)
    {

[2017-02-18 17:24] Crinsane commented on #280
This has been asked before actually, so for more details look at previous issues.
But the rowid is regenerated because it is based on all properties (name, price, options, etc) of the item.
Because when I add one red shirt and one yellow shirt to the cart. And next I change the yellow shirt to red, I expect 1 row in the cart with two red shirts and not 2 rows each with the exact same red shirt. So

[2017-02-18 17:24] #280 closed

[2017-02-20 08:09] xsaroz opened #281 "show item image"
how to add imagepath???

[2017-02-20 09:21] rakibulalam opened #282 "How add one item twice with different options."
adding same product id twice in a different option. but it's by default merge the product in one row. But I want to add item different concern.

[2017-02-20 16:16] Crinsane commented on #282
Adding two products with different options should add two rows.

[2017-02-20 16:16] #282 closed

[2017-02-20 16:16] Crinsane commented on #281
Make it part of your model?

[2017-02-20 16:16] #281 closed

[2017-02-21 07:06] xsaroz commented on #281
like we can use qty, price etc ... i want to add imagepath.

[2017-02-21 07:16] xsaroz commented on #281
okey i got the solution .. i passed a object of item then used the relation between the content and that item.. thanks for this awesome plugin

[2017-02-22 06:03] phaberest opened #283 "Timestamps are not saved on stored carts"
HI! I see you added `$table->nullableTimestamps();` in the `shoppingcart` table migration that comes with the package, but in fact they are always null.

Is there some additional configuration I didn't see?

I'm using stored carts to let the customer care see what's in the user cart and it may be useful to let them see timestamps, not essential though.

[2017-02-22 08:16] Crinsane commented on #283
I just think that's something I've overlooked actually.
So you didn't miss any configuration, it's just not setting the timestamps ;)

[2017-02-22 09:28] rakibulalam commented on #282
The user wants to purchase the same product with the different options. How do I manage it? When user add one item twice with different options. Cart showing only one item.

[2017-02-22 09:35] Crinsane commented on #282
@rakibulalam I think you have some mistake in your code, because this has always been possible. Give me description how I can reproduce your problem on a fresh Laravel install.

[2017-02-22 17:14] cwprogger commented on #259
I faced the same problem. The thing is that event names in package documentation are misspelled. You should use ** cart.added** instead of **cart.add**, **cart.updated** instead of **cart.update**, etc.

[2017-02-22 19:50] jaublanc-bobbies commented on #180
Same error. Can you solved this issue ?

[2017-02-22 19:55] Crinsane commented on #180
@jaublanc-bobbies What is your code? What is the error? Need more information to help you.

[2017-02-22 20:18] jaublanc-bobbies commented on #180
`$rowId = Cart::search(function($cartItem, $rowId) use($request){
	        	return $cartItem->id == $request->id_product;
	        });
$item = Cart::get($rowId[0]);`

My error is "Undefined offset: 0"

[2017-02-22 20:21] Crinsane commented on #180
@jaublanc-bobbies Have you checked the actual content of the `$rowId` value?

[2017-02-22 20:29] jaublanc-bobbies commented on #180
Yes it's a collection with items but I don't understand how use it with get() ?

[2017-02-22 20:31] Crinsane commented on #180
You should be to use a Collection as an array. So that shouldn't be the problem.
I can't seem to be able to reproduce this problem though....

[2017-02-22 20:37] jaublanc-bobbies commented on #180
I'm sorry but I don't understand how can I get the qty value with my rowId variable ??

[2017-02-22 20:39] Crinsane commented on #180
If you have the actual rowId hash, you can just use the `get($rowId)` method
https://github.com/Crinsane/LaravelShoppingcart#cartget

[2017-02-22 20:45] jaublanc-bobbies commented on #180
Now I get this error "array_key_exists(): The first argument should be either a string or an integer"

[2017-02-22 20:46] Crinsane commented on #180
Can you send me a dump of the content of the rowId variable?

[2017-02-22 20:56] jaublanc-bobbies commented on #180
Collection {#482 ▼
  #items: array:1 [▼
    "027c91341fd5cf4d2579b49c4b6a90da" => CartItem {#451 ▼
      +rowId: "027c91341fd5cf4d2579b49c4b6a90da"
      +id: "1"
      +qty: "1"
      +name: "Paris -> Lyon"
      +price: 49.0
      +options: CartItemOptions {#452 ▶}
      -associatedModel: null
      -taxRate: 21
    }
  ]
}

[2017-02-22 20:58] Crinsane commented on #180
Ah ok, the key is actually not numeric.

Instead of `$rowId[0]` try `$rowId->first()`

[2017-02-22 21:01] jaublanc-bobbies commented on #180
Same error with array_key_exists() ...

[2017-02-22 21:03] Crinsane commented on #180
forget the `get` method. Look what the search method is returning. It's returning you the actual CartItem. So you don't have to fetch it again. `$rowId->first()` already gives you the CartItem, so you have access to the qty.

[2017-02-22 21:16] jaublanc-bobbies commented on #180
Thanks a lot ! Finally working !!!

[2017-02-22 21:41] Crinsane commented on #259
Feel free to submit a PR @cwprogger 🙂

[2017-02-22 21:41] #259 closed

[2017-02-23 12:15] jaublanc-bobbies commented on #129
Hello,

I would like to know if is it possible to run a timer for 10min when we add an item to a cart ? At the end of the timer, the cart should be expire/empty.

How can I do that ?

Thanks,

[2017-02-23 12:18] Crinsane commented on #129
The cart uses the default Laravel session. If you want other logic you'll have to implement that yourself.

[2017-02-23 12:56] jaublanc-bobbies commented on #129
How can I set the session just for the cart ?

[2017-02-23 12:57] Crinsane commented on #129
You can't. You'll have to create the logic for clearing the cart after a certain time yourself.

[2017-02-28 04:55] fain opened #285 "not show cart when i cart 1 or more product"
hi.

in product page, i have 3 grid table of product by top sale, new product & preloved product.

but when i cart 1 from top sale, new product & preloved product, every cart inserted into DB. but when i click Cart to show product cart. It shows error like below:

ErrorException in CartController.php line 53:
Trying to get property of non-object
in CartController.php line 53

But when i cart nothi

[2017-02-28 05:37] Crinsane commented on #285
Please share the code of your CartController

[2017-03-02 07:22] webdevwdc commented on #257
hello

[2017-03-02 10:12] Crinsane commented on #257
hi

[2017-03-02 10:14] Crinsane commented on #257
@eberkund I think we should just add the taxTotal to the toArray method. Feel free to create a PR :)

[2017-03-02 10:14] #257 closed

[2017-03-02 18:19] ricardolp opened #286 "Add discount cupom in cart"

[2017-03-04 17:36] wexford0709 commented on #253
Any update on this? I am having the same issue...

[2017-03-04 22:48] IrsyadAdl opened #287 "Hi Artisans, How I can get cart id in products page"
Hi Artisans. I wanna build some logic inside of my products page. I wanna change the button when user has been clicked on that product. So my question is. How I know the data information of carted in my products page. For example: I wanna check if the product has the same id with the added cart. I will change the button color.

Just like this.

[code]
I look a round of it. But I am still can't do

[2017-03-05 07:13] Crinsane commented on #287
I think your looking for the Cart::search method. That way you can search for the Product with the given ID and if you get something back (meaning it is in the cart) change the color of the button.

[2017-03-05 07:13] #287 closed

[2017-03-05 12:11] IrsyadAdl commented on #287
But. This is in the product page. How I can get the rowId from it.

[2017-03-05 12:16] Crinsane commented on #287
You don't need a rowId. With the search method you can just use the id, or name or whatever. You just want to know if the product with a given id (the one that you're viewing) is in the cart.

[2017-03-05 12:22] IrsyadAdl commented on #287
Can you give me the example

[2017-03-05 12:24] Crinsane commented on #287
Example of the search method is in the readme. It'll return a collection. So you can check if it's empty (product not in the cart) or not empty (product in the cart at least once)

[2017-03-05 19:35] irsyadadl opened #288 "How do I change 269,000.00 to 269000"
Because the default format of the subtotal is have a comma, so I can't be increase the value. I have a couple shipping that I want to increase to subtotal. Later I will do something like this.
[code]
The way I need just get rid of the comma, (259000)

[2017-03-05 21:41] IrsyadAdl commented on #288
Solve. I used strtr function php to do this.
[code]

[2017-03-05 21:48] IrsyadAdl commented on #288
### Solved

This is what I did.
[code]

[2017-03-06 03:52] liz-in commented on #262
I have same problem with this. ><

[2017-03-06 18:03] IrsyadAdl opened #289 "How to make Cart instance of my Model"
I am trying to insert saveMany itu my db. But the erros was come like.
[code]
Any help, really appreciate that 👍

[2017-03-06 20:27] Crinsane commented on #289
Please give me more information (code) on what you're trying to achieve.

[2017-03-06 21:03] IrsyadAdl commented on #289
No, this is has been solved. Now I wanna ask something about inheritance model. When I try to use decrement method. It's error.

My code like this.
[code]
Any solution ?

[2017-03-06 21:05] Crinsane commented on #289
Your calling decrement on the CartItem, not on your model

[2017-03-06 21:05] #289 closed

[2017-03-06 21:18] IrsyadAdl commented on #289
So. How to do that ?

I wanna decres the the product stock with the quantity of cart.

[2017-03-06 21:19] Crinsane commented on #289
Get the model from the cart item and call decrement on the model.

[2017-03-06 21:40] IrsyadAdl commented on #289
How to do that ?

[2017-03-06 21:42] Crinsane commented on #289
It's in the readme

[2017-03-06 21:49] IrsyadAdl commented on #289
No I don't see

[2017-03-06 22:22] IrsyadAdl commented on #289
Can explain how ?

[2017-03-06 23:06] IrsyadAdl commented on #289
You know what. I follow the tutorial, but this is not working like you do.

You said about the associate, but when I call, item->product->details, it doesn't return anything.

[2017-03-07 03:33] be-pranshu opened #290 "Fatal error: Allowed memory size of 134217728 bytes exhausted."
Hello,
I create a new setup with laravel 5.4 and install the package in wamp, I google and found some solution to increase the memory_limit in php.ini, and restart all services. I am using WAMP server with PHP Version 7.0.10. but it did not solve the problem.

[code]
When I comment glodemans in app.php it work fine but when i comment out it gives error again.
[code]

[2017-03-07 16:07] garethdaine commented on #288
Ideally, this shouldn't output any cart totals, tax, subtotals as strings with commas.

[2017-03-07 17:55] IrsyadAdl commented on #240
This is not working.

I have made like the read me file
[code]

[2017-03-07 20:06] IrsyadAdl opened #291 "Decrementing stock of product by CartItem quantity"
#### When I am adding item into cart. My code like this.
[code]

After the order finished. I just wanna decres the stock of the product table, so, how I do this ? Can you guys explain how ?

#### The first I test is decres in cartItem like this.

[code]
But, it's returned `Call to a member function decrement() on null`.
So How I do this correctly ?

[2017-03-08 14:28] Ekzer opened #292 "Check if cart is empty"
Hi,
It would be useful to have an `Cart::isEmpty()` method to check if the cart contains nothing instead of `(Cart::count() === 0)`

[2017-03-08 14:59] Crinsane commented on #292
Feel free to submit a PR 🙂

[2017-03-08 23:04] Ekzer commented on #292
I'm going to do this asap ;)

[2017-03-08 23:29] Ekzer commented on #292
#293

[2017-03-09 08:10] IrsyadAdl opened #294 "Decrementing product stock by cartItem qty"
#### When I am adding item into cart. My code like this.
[code]

After the order finished. I just wanna decres the stock of the product table, so, how I do this ? Can you guys explain how ?

#### The first I test is decres in cartItem like this.

[code]
But, it's returned `Call to a member function decrement() on null`.
So How I do this correctly ?

[2017-03-09 09:02] IrsyadAdl commented on #294
@Crinsane  Any Help ? :(

[2017-03-09 10:35] IrsyadAdl commented on #294
#### Solved
[code]

[2017-03-11 14:22] sonikunal commented on #185
Hi,

If you want to update the cart for the instance 'reservations'

you have to use the below code

$item = Cart::instance('reservations')->get($rowId);

Instead of

$item = Cart::instance('courses')->get($rowId);

Thanks.

[2017-03-12 00:51] wdarnellg opened #295 "Change tax"
Hello.
I am trying to set up a tax rate of 2.9 in the config file. That works in the checkout on my test app. In production it does not. I get a default tax rate added that is 21. I can't find where to make a change so that the cart uses the 2.9. Can you guide me?

    |--------------------------------------------------------------------------
    | Default tax rate
    |--------------------------

[2017-03-12 12:22] elbiheiry opened #296 "compare between cart and my products using id"
how can i check if the product id is already added or not ? and compare it with my products ?

[2017-03-12 17:49] Crinsane commented on #295
Did you clear the config cache?

[2017-03-12 17:50] Crinsane commented on #296
`Cart::search()` should work for you

[2017-03-12 17:50] #296 closed

[2017-03-12 17:51] Crinsane commented on #294
Glad you figured it out

[2017-03-12 17:51] #294 closed

[2017-03-12 17:51] #291 closed

[2017-03-12 17:51] Crinsane commented on #290
Looks like a configuration problem on you system

[2017-03-12 17:51] #290 closed

[2017-03-13 13:22] warmwhisky opened #297 "rowId of last item added"
Is it possible to get the rowId of the last added item?

[2017-03-13 13:51] warmwhisky commented on #212
That just gives me Undefined variable: cart. It would be great to know how to set up $cart for the search

[2017-03-13 13:55] Crinsane commented on #212
@warmwhisky There is nothing for you to setup. `search()`  is just a method you can call on the cart instance. So either you inject it, and do `$cart->search()` or you use the facade `Cart::search()`

[2017-03-13 13:56] Crinsane commented on #297
The `add()` method returns a `Gloudemans\Shoppingcart\CartItem`.

[2017-03-13 13:56] #297 closed

[2017-03-13 17:29] wdarnellg commented on #295
I have now. That did the trick. Thank you.

[2017-03-14 06:16] warmwhisky commented on #297
Thanks for clearing that up for me. I was trying to get the rowId so I can update it. Now I am getting "Trying to get property of non-object" when I execute the following to try and echo out the contents of the options to a form.

$cartItems = Cart::get($rowId);
        foreach ($cartItems as $cartItem) {}
        echo 'first_name = '.$cartItem->options->first_name;

[2017-03-14 07:31] warmwhisky commented on #297
Hi. I have figured the last comment out. I didnt need the foreach loop.

[2017-03-14 13:03] slakbal opened #298 "Please allow adding an item with 0 quantity"
I have several use-cases where the quantity is only add later via an update for specific usability, business and security rules. E.g. tickets for events with group bookings. Any chance you can allow that again, maybe even via a extra flag to return items with zero quantity e.g.:
``
//preliminary add an item to the cart, before authenticating
Cart::add($event, 0);

//show cart with items but no qua

[2017-03-15 20:59] absemetov opened #300 "Please supply a valid price. (Laravel 5.4)"
My code:
$product = Product::find('90555401');
Cart::add($product, 10);

Test Product model to add, not work
public function getPriceAttribute($value)
    {
        if ($value) {
            return 100;
            //return number_format($value * $this->currency->price, 2, '.', '');
        }
    }

Migration:
$table->decimal('price', 10, 2)->nullable();

[2017-03-16 06:45] absemetov commented on #300
https://github.com/Crinsane/LaravelShoppingcart/issues/189
[code]

[2017-03-16 06:46] #300 closed

[2017-03-18 10:59] anggagewor opened #301 "Cart::content() is empty when redirecting"
[code]
when i dump in add() cart->content is showing,
but when redirecting there are empty,

how can i store it?

sory for my englist

[2017-03-19 19:43] imperium2335 opened #302 "Non-static method Gloudemans\Shoppingcart\Cart::total() should not be called statically"
Getting the above when I try to do any of the following:

\Gloudemans\Shoppingcart\Cart::total()
\Gloudemans\Shoppingcart\Cart::subtotal()
\Gloudemans\Shoppingcart\Cart::tax()

[2017-03-19 21:10] Crinsane commented on #302
You should call those methods either on an instance of `Gloudemans\Shoppingcart\Cart` or use the Facade `Gloudemans\Shoppingcart\Facades\Cart`

[2017-03-19 21:10] #302 closed

[2017-03-20 02:43] ideadx opened #303 "Charge final product price with tax"
I have products on with the price of $29.99, which includes 10% tax. When customer adds this to cart, I want to charge total of $29.99 including tax which is set in config file to 10. Is there a way to set the flag where I can say products prices include of tax? because how else would you display the correct product on a website?

[2017-03-20 09:18] jaublanc-bobbies commented on #170
Hello @Crinsane

I would like to remove a cart after 15min (expriation time) if the user has not paid the cart.
How can I do that with Laravel Session (without log out the user).

Thanks for your answer !

[2017-03-20 15:11] Payetus opened #304 "Fail on calling associate after upgrading from 5.3 to 5.4"
I have a product model in the namespace Tendee\Product

And I called the associate method on the Cart the following way:

`Cart::associate('Product', 'Tendee')->add($product->id, $product->name ,1, $product->price, array('size' => 'large'));`

After upgrading I get the following error:

UnknownModelException in Cart.php line 309:
The supplied model Tendee does not exist.

¿Is there a way I can mak

[2017-03-21 05:56] alhoqbani opened #305 "How to update an option ?"
Is it possible to update the options chosen by the customer?

for example, when using:

[code]

How can change 'size' using Cart::update() ?

[2017-03-21 07:03] Crinsane commented on #305
[code]

[2017-03-21 07:03] #305 closed

[2017-03-21 07:04] Crinsane commented on #304
You can actually find the answer in the readme.

[code]

[2017-03-21 07:04] #304 closed

[2017-03-21 09:51] Payetus commented on #304
What about maintaining backwards compatibility?

On 21 Mar 2017 8:05 a.m., "Rob Gloudemans" <notifications@github.com> wrote:

[2017-03-21 09:51] Payetus commented on #304
Also i tried that and did not work cause can't specify the namespace

On 21 Mar 2017 8:05 a.m., "Rob Gloudemans" <notifications@github.com> wrote:

[2017-03-21 09:52] Crinsane commented on #304
That's why there was a new major version (2.0.0)

[2017-03-22 12:58] warmwhisky opened #306 "Empty cart destroys stored database session?"
When I empty the cart after restoring a cart it deletes it from the database... Is this normal?

I need to be able to restore carts after a client has paid. I store them using invoice_id as identifier. But Ideally I want a record of how the cart looked when they paid. Can I restore carts and then empty the cart without destroying the database stored version?